
		
		
		<!-- banner starts -->
		<div id="banner__wrapper">
			<div class="container">
				<div class="col-sm-9 row banner_content">
					<div class="banner_title">
						<h1>Buy Books</h1>
					</div>
					<div class="banner_form">
						<ul class="nav nav-tabs">
							<li><a data-toggle="tab" href="#buy">Buy</a></li>
							<li class="active"><a data-toggle="tab" href="#sell">Sell</a></li>
						</ul>
						<div class="tab-content">
							<div id="buy" class="tab-pane fade in active">
								<form>
						<input type="text" ng-model="searchText" placeholder="Search Colleges..." />
						<button type="submit" ng-click="searchCollege(searchText)" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
					</form>
							</div>
							<div id="sell" class="tab-pane fade">
								<h3>Menu 1</h3>
								<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner ends -->
		
		<!-- main content starts -->
		<div id="main__content" class="srch_results bg_grey_light">
			<div class="container">
				<!--<div class="row">-->
					<h4 class="srch_results_title no_margin_left">Search results for "{{items[0].book_title}}"</h4>

					<img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader">

					
					<div class="col-sm-12">
						<div class="row" ng-repeat="item in items">
							<div class="col-sm-8 book_profile">
								<div class="book_img floatL">
									<img src="images/srch_book.jpg" />
								</div>
								<div class="profile_book_detail floatL">
									<div class="book_title">
										<p>{{item.book_title}}</p>
									</div>
									<div class="book_description">
										<p>{{item.Author}}</p>
										<p><span class="normal">SBN-10:<span> {{item.SBN_1}}</p>
										<p><span class="normal">SBN-13:<span> {{item.SBN_2}}</p>
										<br />
										<p><span class="color_666">Edition:</span> {{item.Edition}}</p>
										<p><span class="color_666">Author(s):</span> {{item.Author}}</p>
										<br />
										<p><span class="color_666">Description:</span> {{item.book_details}} <a href="javascript:void(0)">More...</a></p>
									</div>
									<div class="book_price">
										<p class="regular_price">List price: ${{item.list_price}}</p>
										<p class="sale_price">Buy it from: ${{item.mark_price}}</p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div><!--book_profile_detail ends -->
							<div class="col-sm-4 sidebar">
								<div class="sidebar_content">
									<div class="panel-group" id="accordion">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title-anchor" aria-expanded="true">New <span>Starting from: <strong>$14.21</strong></span></a>
												</h4>
											</div>
											<div id="collapse1" class="panel-collapse collapse in">
												<div class="panel-body">
													<span class="book_price">Buy New: $14.21</span>
													<span>U.S. Edition</span>
													<p>This item will ship on Wednesday, November 16.</p>
													<a class="add_cart setcursor" ng-click="sendAMessage(item)">{{changeTextBook}}</a>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title-anchor"aria-expanded="false">Marketplace<span>6 new and used from <strong>$7.44</strong></span></a>
												</h4>
											</div>
											<div id="collapse2" class="panel-collapse collapse">
												<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title-anchor"aria-expanded="false">Sell<span>Get a cash quote</span></a>
												</h4>
											</div>
											<div id="collapse3" class="panel-collapse collapse">
												<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
											</div>
										</div>
									</div> 
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="headline">
						<h3 class="floatL">Customers Also Bought</h3>
						<div class="controls arrows pull-right hidden-xs">
							<a class="left fa fa-angle-left" href="#carousel-example"
							   data-slide="prev"></a><a class="right fa fa-angle-right" href="#carousel-example"
							   data-slide="next"></a>
						</div>
						<div class="clearfix"></div>
					</div>
					
					<div id="carousel-example" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active" >
								<div class="row">									
									<div class="col-md-4 col-sm-6 text-center" ng-repeat="customerBought in boughtitems" >
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>{{customerBought.book_title}}</p>
												</div>
												<div class="book_author">
													<p>{{customerBought.Author}}</p>
												</div>
												<div class="book_author_contact">
													<p>{{customerBought.Edition}}<br />{{customerBought.contact_number}}</p>
												</div>
												<div class="book_price">
													<p>$ {{customerBought.list_price}} <span> $ {{customerBought.mark_price}}</span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">{{customerBought.status}}</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->								
								</div><!-- row ends -->
							</div><!-- item ends -->
							
						</div><!-- carousel-inner ends -->
					</div><!-- carousel-slide ends -->
					

					<div ng-if="!isDataFound">
					Data Not Found!.
					</div>

					<div class="tabs_detail">
						<ul class="nav nav-tabs">
							<li><a data-toggle="tab" href="#book_detail">Book Details</a></li>
							<li class="active"><a data-toggle="tab" href="#desc">Description</a></li>
							<li><a data-toggle="tab" href="#bio">Author Bio</a></li>
							<li><a data-toggle="tab" href="#content">Table of Contents</a></li>
						</ul>
						<div class="tab-content">
							<div id="book_detail" class="tab-pane fade">
								<p>{{items[0].book_details}}</p>
							</div>
							<div id="desc" class="tab-pane fade in active">
								<p>{{items[0].book_full_description}}</p>
							</div>
							<div id="bio" class="tab-pane fade">
								<p>{{items[0].auther_bio}}</p>
							</div>
							<div id="content" class="tab-pane fade">
								<p>{{items[0].table_of_content}}</p>
							</div>
						</div>
					</div>
					
				<!--</div><!-- row ends -->
			</div><!-- container ends -->
		</div>
		<!-- main content ends -->
		
		
		
		<!-- Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {      
                $('.carousel').carousel({
                    pause: true,
                    interval: false,
                });
            });
        </script>
	