
		
		<!-- banner starts -->
		<div id="banner__wrapper">
			<div class="container">
				<div class="col-sm-9 row banner_content">
					<div class="banner_title">
						<h1>Buy Books</h1>
					</div>
					<div class="banner_form">
						<ul class="nav nav-tabs">
							<li><a data-toggle="tab" href="#buy">Buy</a></li>
							<li class="active"><a data-toggle="tab" href="#sell">Sell</a></li>
						</ul>
						<div class="tab-content">
							<div id="buy" class="tab-pane fade in active">
								<form>
						<input type="text" ng-model="searchText" placeholder="Search Colleges..." />
						<button type="submit" ng-click="searchCollege(searchText)" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
					</form>
							</div>
							<div id="sell" class="tab-pane fade">
								<h3>Menu 1</h3>
								<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner ends -->
		
		<!-- main content starts -->
		<div id="main__content" class="srch_results bg_grey">
			<div class="container">
				<div class="row">
					<h4 class="srch_results_title">Search results for "{{searchText}}"</h4>
					<h4 class="srch_results_title" style="text-align: right;">Total Results: {{totalTextBook}}</h4>
					<div class="col-md-4 col-sm-6 text-center" ng-repeat="item in searchTextBook" ng-click="seeBookProfile(item.book_id)">
						<div class="srch_list">
							<div class="srch_rslt_img">
								<img src="images/srch_book.jpg" />
							</div>
							<div class="srch_rslt_detail">
								<div class="book_title">
									<p>{{item.book_title}}</p>
								</div>
								<div class="book_author">
									<p>{{item.Author}}</p>
								</div>
								<div class="book_author_contact">
									<p>{{item.Edition}}<br />{{item.contact_number}}</p>
								</div>
								<div class="book_price">
									<p>${{item.list_price}} <span> ${{item.mark_price}} </span></p>
								</div>
								<div class="book_stock">
									<p><a class="btn btn-success">{{item.status}}</a> Have one to sell? <span>We'll buy it!</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- main content ends -->
		
	
		
		<!-- Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	