<!-- <div class="row">
<div style="padding-top:50px;"> </div>
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <h1>Hi, {{user.first_name}} {{user.last_name}}</h1>
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <p><strong>My Profile Page</strong></p>
                            <p><strong><a href="javascript:void(0)" ng-click="MyMessages()">My Messages</a></strong></p>
                            <p><strong><a href="javascript:void(0)" ng-click="MyContents()">My Contents</a></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div ng-if="!isDataFound">
                Oop's No Data Found!.
            </div>

            <h3>Notifications: {{list.length}}</h3>
            <div class="panel panel-default">
                <div class="panel-body" ng-repeat="item in list">
                    <hr>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                       {{$index+1}}. &nbsp;{{item.date}}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {{item.desc}}
                    </div> 
                       
                </div>
                
            </div>

           
        
        </div>
    </div>
</div> -->

        
<!-- main content starts -->
    <div class="notification">
        <div class="container">
            <!-- notification tabs start -->
            <div class="tab_mrkt_details">
                <div class="col-sm-3">
                    <div class="profile-info">
                        <div class="info">
                            <div class="profile-img">
                            <img src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" alt="" width="auto" height="100%" />
                            </div>
                            <div class="profile-name"><p>Hi, Rajni Sonkar</p></div>
                        </div>
                    
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#profile">My Profile Page</a></li>
                            <li><a data-toggle="tab" href="#messages">Messages</a></li>
                            <li><a data-toggle="tab" href="#contents">View my contents<br/>(Textbooks, Event & More..)</a></li>
                            <li><a data-toggle="tab" href="#edit">Edit my profile</a></li>
                            <li><a data-toggle="tab" href="#ads-1">Another option</a></li>
                            <li><a data-toggle="tab" href="#ads-2">Another option</a></li>
                            <li><a data-toggle="tab" href="#invite">Invite friends</a></li>
                            <li><a data-toggle="tab" href="#explore">Explore suggestions</a></li>
                        </ul>
                    </div>
                </div>
                <!-- tab content starts -->
                <div class="col-sm-9">
                    <img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader">
                    <div class="tab-content">
                    <div id="profile" class="tab-pane fade in active">
                        <p>Notifications</p>
                        <ul>
                            <li ng-repeat="item in list">
                                <div class="col-xs-1">{{$index+1}}.</div>
                                <div class="col-xs-3">{{item.date}}</div>
                                <div class="col-xs-6">{{item.desc}}</div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    <div class="load-more-button">
                        <button style="float: right;" class="btn btn-success" ng-disabled="is_disable" ng-click="loadMore()">Load More
                        </button>
                    </div>

                    </div>
                    <div id="messages" class="tab-pane fade">
                        <ul>
                            <li><p>My messages</p></li>
                        </ul>
                    </div>
                    <div id="contents" class="tab-pane fade">
                        <ul>
                            <ul>
                            <li>hello</li>
                        </ul>
                        </ul>
                    </div>
                    <div id="edit" class="tab-pane fade">
                        <ul>
                            <ul>
                            <li>Edit Profile</li>
                        </ul>
                        </ul>
                    </div>
                    <div id="ads-1" class="tab-pane fade">
                        <ul>
                            <ul>
                            <li>ADS</li>
                        </ul>
                        </ul>
                    </div>
                    <div id="ads-2" class="tab-pane fade">
                        <ul>
                            <ul>
                            <li>ADS</li>
                        </ul>
                        </ul>
                    </div>
                    <div id="invite" class="tab-pane fade">
                        <ul>
                            <ul>
                            <li>Invite Friends</li>
                        </ul>
                        </ul>
                    </div>
                    <div id="explore" class="tab-pane fade">
                        <ul>
                            <ul>
                            <li>Explore</li>
                        </ul>
                        </ul>
                    </div>
                </div><!-- tab content ends -->
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- market tabs end -->
        </div>
    </div>  




