<!-- <div id="footer__section">
			<div class="footer_bg">
				<div class="container">
					<div class="row footer_liks">
						<div class="col-md-3 col-sm-6">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="#!/colleges">Colleges</a></li>
								<li><a href="#!/scholarship">scholarship</a></li>
								<li><a href="#!/news">News</a></li>
								<li><a href="#!/events">Events</a></li>
								<li><a href="#!/jobs">Jobs</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6">
							<ul>
								<li><a href="javascript:void(0)">Home</a></li>
								<li><a href="javascript:void(0)">College Search</a></li>
								<li><a href="javascript:void(0)">Colleges Trending Now</a></li>
								<li><a href="javascript:void(0)">College Scholarships</a></li>
								<li><a href="javascript:void(0)">Educators</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6">
							<ul>
								<li><a href="javascript:void(0)">Home</a></li>
								<li><a href="javascript:void(0)">College Search</a></li>
								<li><a href="javascript:void(0)">Colleges Trending Now</a></li>
								<li><a href="javascript:void(0)">College Scholarships</a></li>
								<li><a href="javascript:void(0)">Educators</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6">
							<ul class="social_links">
								<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="copyright">
						<p>Copyright ucchub 2016 | All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div> -->

		<div id="footer__section" class="bg_dark">
			<div class="container">
				<div class="row footer_liks">
					<div class="col-md-3 col-sm-6">
						<ul>
							<li><a href="javascript:void(0)">Home</a></li>
							<li><a href="javascript:void(0)">College Search</a></li>
							<li><a href="javascript:void(0)">Colleges Trending Now</a></li>
							<li><a href="javascript:void(0)">College Scholarships</a></li>
							<li><a href="javascript:void(0)">Educators</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<ul>
							<li><a href="javascript:void(0)">Home</a></li>
							<li><a href="javascript:void(0)">College Search</a></li>
							<li><a href="javascript:void(0)">Colleges Trending Now</a></li>
							<li><a href="javascript:void(0)">College Scholarships</a></li>
							<li><a href="javascript:void(0)">Educators</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<ul>
							<li><a href="javascript:void(0)">Home</a></li>
							<li><a href="javascript:void(0)">College Search</a></li>
							<li><a href="javascript:void(0)">Colleges Trending Now</a></li>
							<li><a href="javascript:void(0)">College Scholarships</a></li>
							<li><a href="javascript:void(0)">Educators</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<ul class="social_links">
							<li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
							<li><a href="javascript:void(0)"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="copyright">
					<p>Copyright ucchub 2016 | All Rights Reserved</p>
				</div>
			</div>
		</div>
		