<div class="top__header">

<toast></toast>

	<div class="container">
		<div class="row">
			<div class="col-md-7 top_left">
				<div class="row">
					<div class="col-sm-5 uni_select">
						<!-- <a class="bg_orange" href="javascript:void(0)">Change University/College</a> -->
						<a class="bg_orange dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">Change University/College</a>
									<ul class="bg_orange dropdown-menu">
										<li ng-repeat="item in setUniversityCollege">
										<a class="setCursor" ng-click="changeUniversityCollege(item)">{{item.name}}</a>
									</li>
									</ul>
					</div>
					<div class="col-sm-7">
						<!-- <p class="uni_title">{{setUniversityCollegeName.length >20 ? setUniversityCollegeName.substr(0,20)+"..." ? setUniversityCollegeName}}</p> -->
						<p class="uni_title">
						{{ setUniversityCollegeName | limitTo: 20 }}{{ setUniversityCollegeName.length > 20 ? '...' : ''}}
								</p>
					</div>
				</div>
			</div>
			<div class="col-md-5 top_right">
				<div class="row">
					<div class="col-sm-7 srch_feild">
						<form>
							<input class="bg_grey" type="text" placeholder="Search colleges..." />
						</form>
					</div>
					<div class="col-sm-5 cate_select">
						<p class="bg_blue">Category / Section</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- top header ends -->
<div class="main__header">
	<div class="container">
		<div class="row">
			<div class="site__logo col-sm-2">
				<a href="#!/">UCCHUB</a>
			</div>
			<div class="nav__menu col-md-7">
				<ul>
					<li class="srch_select dropdown dropdown-submenu" >
					<a class="bg_dark dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">Browse</a>
									<ul class="bg_dark dropdown-menu">
										<li ng-repeat="item1 in setDRPMenuItem">
										<a class="setCursor" ng-click="setHeadeMenuItem(item1,1)">{{item1}}</a>
									</li>
										<!-- <li><a href="javascript:void(0)">Link 2</a></li>
										<li><a href="javascript:void(0)">Link 3</a></li> -->
									</ul>
								</li>
					<li ng-repeat="item in menuItems[0].defaultMenu">
						<a class="setCursor" ng-click="setHeadeMenuItem(item,2)">{{item}}</a>
					</li>
					<!-- <li><a href="#!/scholarship">scholarship</a></li>
					<li><a href="#!/news">News</a></li>
					<li><a href="#!/events">Events</a></li>
					<li><a href="#!/jobs">Jobs</a></li>
					<li><a href="#!/textBooks">TextBook</a></li> -->

					<!-- <li><a href="#!/profile">Profile</a></li> -->
				</ul>
			</div>

			<div class="profile_detail col-md-2">
				<div class="profile-pic floatL">
					<img src="images/profile_pic.png" />
				</div>
				<div class="profile_title floatL">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{name}}</a>
					<ul class="bg_dark dropdown-menu">
						<li><a href="#!/profile">Profile</a></li>
						<li><a href="javascript:void(0)" ng-click="seeNotifications()" class="">Notifications</a></li>
						<li><a href="javascript:void(0)" ng-click="logout()" class="">Logout</a></li>
					</ul>
					
				</div>
				<div class="clearfix"></div>
			</div>
<!-- Notificaaion area -->
			<div class="profile_detail col-md-1">
			 <span class="glyphicon glyphicon-bell setCursor" ng-click="seeNotifications()">
			 	<span class="notificationVisible">{{notificationCount}}</span>
			 </span>
			 <div class="clearfix"></div>
			</div>

		</div>
	</div>
</div><!-- main header ends -->