﻿<DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UCCHUB</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="css/jquery-ui.css" rel="stylesheet" />
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/style1.css" rel="stylesheet" />
    <link href="css/style2.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    <link href="css/datepicker.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body id="{{!isUserLoggedIn ? 'signup_page' : ''}}">
    <div id="site__header">
        <div ng-include="'header.html'" ng-if="isUserLoggedIn"></div>
        <div ng-include="'login_header.html'" ng-if="!isUserLoggedIn"></div>
    </div>

    <!-- signup form starts -->
    <div ng-view></div>
    <!-- signup form ends -->


    <div id="footer__section">

        <div ng-include="'footer.html'"></div>
    </div>
    <!-- <div class="jumbotron">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view></div>
            </div>
        </div>
    </div>
    <div class="credits text-center">
        <p>
            <a href="http://jasonwatmore.com/post/2015/03/10/angularjs-user-registration-and-login-example-tutorial">AngularJS User Registration and Login Example</a>
        </p>
        <p>
            <a href="http://jasonwatmore.com">JasonWatmore.com</a>
        </p>
    </div> -->
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
    <script src="js/datepicker.min.js"></script>
    <script src="app.js"></script>
    <script src="module/app-services/authentication.service.js"></script>
    <script src="module/app-services/flash.service.js"></script>
    <script src="module/app-directives/directives.js"></script>
    <script src="module/app-directives/pagination.directives.js"></script>
    <!-- Real user service that uses an api -->
    <script src="module/app-services/user.service.js"></script>

    <script src="module/app-services/book.service.js"></script>
    <script src="module/app-services/news.service.js"></script>
    <script src="module/app-services/college.service.js"></script>
    <script src="module/app-services/event.service.js"></script>
    <script src="module/app-services/job.service.js"></script>
    <script src="module/app-services/scholarship.service.js"></script> 
    <script src="module/app-services/textbook.service.js"></script>
    <script src="module/app-services/pager.service.js"></script>
    <script src="module/app-services/scholarship.service.js"></script>
    <script src="module/app-services/notification.service.js"></script>
    <!-- Fake user service for demo that uses local storage -->
    <!--<script src="app-services/user.service.local-storage.js"></script>-->

    <script src="module/app-controllers/home/home.controller.js"></script>
    <script src="module/app-controllers/login/login.controller.js"></script>
    <script src="module/app-controllers/register/register.controller.js"></script>
    <script src="module/app-controllers/news/news.controller.js"></script>
    <script src="module/app-controllers/college/college.controller.js"></script>
    <script src="module/app-controllers/event/event.controller.js"></script>
    <script src="module/app-controllers/job/job.controller.js"></script>
    <script src="module/app-controllers/scholarship/scholarship.controller.js"></script>
    <script src="module/app-controllers/book/book.controller.js"></script>
    <script src="module/app-controllers/user/user.controller.js"></script>
    <script src="module/app-controllers/textbook/textbook.controller.js"></script>
    <script src="module/app-controllers/notification/notification.controller.js"></script>

    <script src="js/ngToast.min.js"></script>
    <link rel="stylesheet" href="js/ngToast.min.css">
    
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCxYpxTlQfzzRMLdZyey1FMbXTvmkCER-Y"></script>
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <!-- AIzaSyDQ-o_AQs9ZfhkhYuglYRXApoaj86vqFLU -->

    <!-- <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" /> -->
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
            $("#datepicker").datepicker();
        });
    </script>
</body>

</html>