<div class="main__header">
<toast></toast>

	<div class="container">
		<div class="row">
			<div class="site__logo col-sm-2">
				<a href="#!/">UCCHUB</a>
			</div>
			<div class="nav__menu col-md-8">
				<ul>
					<li class="srch_select dropdown dropdown-submenu" >
						<a class="bg_dark dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="true">Browse</a>
							<ul class="bg_dark dropdown-menu">
								<li ng-repeat="item1 in setDRPMenuItem">
									<a class="setCursor" ng-click="setHeadeMenuItem(item1)">{{item1}}</a>
								</li>
								<!-- <li><a href="javascript:void(0)">Link 2</a></li>
								<li><a href="javascript:void(0)">Link 3</a></li> -->
							</ul>
					</li>
					<li ng-repeat="item in menuItems[0].defaultMenu">
						<!-- <a href="#!/{{item}}">{{item}}</a> -->
						<a class="setCursor" ng-click="setHeadeMenuItem(item)">{{item}}</a>
					</li>
					<!-- <li><a href="#!/scholarship">scholarship</a></li>
					<li><a href="#!/news">News</a></li>
					<li><a href="#!/events">Events</a></li>
					<li><a href="#!/jobs">Jobs</a></li>
					<li><a href="#!/textBooks">TextBooks</a></li> -->
					
				</ul>
			</div>
			<div class="site__login col-sm-2 pull-right">
				<a class="bg_orange" href="#!/login">Login</a>
			</div>
		</div>
	</div>
</div><!-- main header ends -->