<a href="javascript:void(0)" ng-click="doDisable()"> Close </a>
<form method="post" ng-submit="saveJob()" ng-if="!updateForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" ng-model="data.title" required>
    </div>

    <div class="form-group">
        <label for="Job Types">Job Types</label>
        <select class="form-control" ng-model="data.job_type" ng-options="key as value for (key , value) in job_types"></select>
    </div>

    <div class="form-group">
        <label for="Industry">Industry</label>
        <select class="form-control" ng-model="data.industry" ng-options="key as value for (key , value) in industries"></select>
    </div>

    <div class="form-group">
        <label for="Location">Location</label>
        <select class="form-control" ng-model="data.job_location" ng-options="key as value for (key , value) in locations"></select>
    </div>

    <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" ng-model="data.status" ng-options="key as value for (key , value) in statusArr" required></select>
    </div>


    <!-- <div class="form-group">
        <label for="Description">Image</label>
        <input type="file" ng-model="data.image" required>
    </div> -->

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" ng-model="data.description" required>
    </div>

    <div class="form-group">
        <button class="btn btn-outline btn-primary" type="submit">Create</button>
    </div>
</form>

<form method="post" ng-submit="UpdateJob()" ng-if="updateForm" enctype="multipart/form-data">
    <input type="hidden" class="form-control" ng-model="data.id" required>
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" ng-model="data.title" required>
    </div>

    <div class="form-group">
        <label for="Job Types">Job Types</label>
        <select class="form-control" ng-model="data.job_type" ng-options="key as value for (key , value) in job_types"></select>
    </div>

    <div class="form-group">
        <label for="Industry">Industry</label>
        <select class="form-control" ng-model="data.industry" ng-options="key as value for (key , value) in industries"></select>
    </div>

    <div class="form-group">
        <label for="Location">Location</label>
        <select class="form-control" ng-model="data.job_location" ng-options="key as value for (key , value) in locations"></select>
    </div>

    <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" ng-model="data.status" ng-options="key as value for (key , value) in statusArr" required></select>
    </div>


    <!-- <div class="form-group">
        <label for="Description">Image</label>
        <input type="file" ng-model="data.image" required>
    </div> -->

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" ng-model="data.description" required>
    </div>

    <div class="form-group">
        <button class="btn btn-outline btn-primary" type="submit">Update</button>
    </div>
</form>
<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind-html="flash.message"></div>