	
		<!-- banner starts -->
		<div id="banner__wrapper">
			<div class="container">
				<div class="col-sm-12 row banner_content">
					<div class="banner_title">
						<h1>Let the CEO Guide you in Career Search</h1>
					</div>
					<div class="banner_form school_banner_form">
						<div class="tab-content">
							<div class="tab-pane active">
								<!-- <form ng-submit="globalJobSearch(searchText,selectedExperience,selectedSalary)">
									<input type="text" ng-model="searchText" placeholder="Skills, Designations, Companies" />
									<select ng-model="selectedState">
										<option>Indore</option>
										<option>State 1</option>
										<option>State 2</option>
									</select>
									<select ng-model="selectedExperience">
										<option>Experiance</option>
										<option>Major 1</option>
										<option>Major 2</option>
									</select>
									<select ng-model="selectedSalary">
										<option>Salary</option>
										<option>1</option>
										<option>2</option>
									</select>
									<button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search" ng-click="globalJobSearch(searchText)"></span>Search</button>
								</form> -->
							<form ng-submit="searchJob(search)">
							<input type="text" placeholder="Skills, Designations, Companies" ng-model="search.free_search"/>
							<select ng-model="search.location">
								<option value="" selected>Select State</option>
								<option ng-value="state.name" ng-repeat="state in states">{{state.name}}</option>
							</select>
							
							<select ng-model="search.experience">
								<option value="" selected>Experience</option>
								<option value="{{itemExperience.key}}" ng-repeat="itemExperience in Experiance">{{itemExperience.value}}</option>
							</select>
							
							<select ng-model="search.salary">
								<option value="" selected>Salary</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
							<button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
						</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner ends -->
		
		<!-- tesimonial starts -->
		<img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader">

		<div id="testimonial__wrapper" class="bg_grey_light">
			<div class="container">
				<div class="rank_title">
					<!-- <p>30 events found...</p> -->
					<p></p>
				</div>
				<div class="row">
					<div class="col-sm-12 job_details">
						<div class="container_block job_detail_list padding__0">
							<div class="job_body no_border">
								<span  ng-click="jobAddToFavorite(jobDescrption.id)" class="fav_select"><i class="fa fa-star" aria-hidden="true"></i></span>
								<div class="job_title">
								<a href="#!/jobs/desciption">{{ jobDescrption.title | limitTo: 20 }}{{ jobDescrption.title.length > 20 ? '...' : ''}}</a>
								</div>
								<div class="job_comp">{{jobDescrption.industry}}</div>
								<div class="job_location_exp">
									<span class="job_exp"><i class="fa fa-briefcase" aria-hidden="true"></i> {{jobDescrption.min_experience ==null ? 0 : jobDescrption.min_experience}}-{{jobDescrption.max_experience ==null ? 0 :jobDescrption.max_experience}}yrs</span>
									<span><i class="fa fa-map-marker" aria-hidden="true"></i> {{jobDescrption.job_location.length > 0 ? jobDescrption.job_location : 'None'}}</span>
								</div>
								<div class="job_apply_btns">
									<a ng-click="jobApply(jobDescrption.id)" class="bg_orange hand_cursor">Apply</a>
									<a ng-click="seeRecruiterNumber(jobDescrption.id)" class="rcur_btn hand_cursor">See recruiter number</a>
								</div>
								<div class="social_icon_btns">
									<a href="javascript:void(0)" class="fb"></a>
									<a href="javascript:void(0)" class="twtr"></a>
									<a href="javascript:void(0)" class="linkdin"></a>
									<a href="javascript:void(0)" class="t_social"></a>
									<a href="javascript:void(0)" class="gplus"></a>
									<a href="javascript:void(0)" class="n_social"></a>
									<a href="javascript:void(0)" class="pintrest"></a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="refine_results container_block padding__0">
							<ul>
								<li><p class="frm_title">Refine Results</p></li>
								<li class="rslt_cnt">
									<p><span class="refine_title">Locality</span><span class="part_col">:</span>{{jobDescrption.refine_results.Locality}}</p>
									<p><span class="refine_title">Role</span><span class="part_col">:</span>{{jobDescrption.refine_results.Role}}</p>
									<p><span class="refine_title">Min Salary</span><span class="part_col">:</span>{{jobDescrption.refine_results.min_salary ? jobDescrption.refine_results.min_salary : 0}}</p>
									<p><span class="refine_title">Max Salary</span><span class="part_col">:</span>{{jobDescrption.refine_results.max_salary ? jobDescrption.refine_results.max_salary : 0}}</p>
								</li>
							</ul>
						</div>
						<div class="refine_results container_block padding__0">
							<ul>
								<li><p class="frm_title">Job Description</p></li>
								<li class="rslt_cnt">
									<pre><p>{{jobDescrption.job_description}}</p></pre>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- tesimonial ends -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Recruiter Details.</h4>
      </div>
      <div class="modal-body">
    </br>Name: &nbsp;&nbsp;{{recruiter.first_name}} &nbsp;{{recruiter.last_name}}
    </br>Phone No: &nbsp;&nbsp;{{recruiter.phone_no ? recruiter.phone_no :'+91 XXXX-XXXX-XX'}}
    </br>Email: &nbsp;&nbsp;{{recruiter.email ? recruiter.email :''}}
      </div>
      <div class="modal-footer">
      	<!-- <button type="button" class="btn btn-default" ng-click="searchSearchLocation()" data-dismiss="modal">OK</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
