<div id="ucchub__job">
    <!-- banner starts -->
    <div id="banner__wrapper">
        <div class="container">
            <div class="col-sm-12 row banner_content">
                <div class="banner_title">
                    <h1>Let the CEO Guide you in Career Search</h1>
                </div>
                <div class="banner_form school_banner_form">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <form ng-submit="searchJob(search)">
                                <input type="text" placeholder="Skills, Designations, Companies" ng-model="search.free_search" />

                                <!-- <select ng-model="search.location" ng-init="search.location = states[0]" ng-options="state.value for state in states">
                                	</select> -->
                              <select ng-model="search.location">
								 <option value="" selected>Select State</option>
								<option ng-value="state.name" ng-repeat="state in states">{{state.name}}</option>
							</select>
							
							<!-- <select ng-model="search.experience" ng-init="search.experience = Experiance[0]" ng-options="itemExperience.value for itemExperience in Experiance">
                             </select> -->
                              <select ng-model="search.experience">
								<option value="" selected>Experience</option>
								<option value="{{itemExperience.key}}" ng-repeat="itemExperience in Experiance">{{itemExperience.value}}</option>
							</select>
							
                               <!-- <select ng-model="search.salary"
                               ng-init="search.salary = salary[0]" ng-options="sal.value for sal in salary"> -->
                               <select ng-model="search.salary">
								<option value="">Salary</option>
								<option value="1">10000</option>
								<option value="2">20000</option>
								<option value="3">30000</option>
								<option value="4">40000</option>
								<option value="5">50000</option>
								<option value="6">60000</option>
								<option value="7">70000</option>
								<option value="8">80000</option>
								<option value="9">90000</option>
								<option value="10">100000</option>
							</select>
							<button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner ends -->
<!-- tesimonial starts -->
<div id="testimonial__wrapper" class="bg_grey_light">
	<div class="container">
		<div class="rank_title text-center">
			<p>Recently Added Jobs Near University of Texas-Arlington</p>
			<h4><span style="float: right;">Total Jobs Found: {{items.length}}</span></h4>
		</div>
		<div class="row">
			<div class="col-sm-3 filter_forms">
				<div class="refine_results container_block padding__0">
					<form>
						<ul>
							<li>
								<p class="frm_title">Refine Results</p>
							</li>
							<li>
								<div class="form-group">
									<label for="frshns">Freshness</label>
									<input type="text" id="frshns" ng-keyup="searchFreshness($event)" ng-model="freshness" class="form-control" />
								</div>
							</li>
							<li>
								<p class="frm_title">Location</p>
								<div class="checkbox">
									<label ng-repeat="item in locations">
										<input type="checkbox" value="{{item.name}}" ng-click="searchClickOnLocation($event,search)" class="isCheck"
                                      >{{item.name}}
                                    </label>
                                    <!-- <label>
										<input type="checkbox" value="Delhi" ng-click="searchClickOnLocation($event)" class="isCheck"
                                      >Delhi
                                    </label> -->

									<!-- <label><input type="checkbox" value="">Mumbai</label>
									<label><input type="checkbox" value="">Bengluru</label>
									<label><input type="checkbox" value="">Bhopal</label>
									<label><input type="checkbox" value="">Jaipur</label>
									<label><input type="checkbox" value="">Indore</label>
									<label><input type="checkbox" value="">Mumbai</label>
									<label><input type="checkbox" value="">Bengluru</label>
									<label><input type="checkbox" value="">Bhopal</label>
									<label><input type="checkbox" value="">Jaipur</label>
									<label><input type="checkbox" value="">Indore</label>
									<label><input type="checkbox" value="">Mumbai</label>
									<label><input type="checkbox" value="">Bengluru</label>
									<label><input type="checkbox" value="">Bhopal</label>
									<label><input type="checkbox" value="">Jaipur</label> -->
								</div>
							</li>
						</ul>
					</form>
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Industry</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse">
								<div class="panel-body">Industry</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Salary</a>
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body">Salary</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Education</a>
								</h4>
							</div>
							<div id="collapse3" class="panel-collapse collapse">
								<div class="panel-body">Education</div>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<div class="col-sm-9 job_details">
			
			<img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader">
				<div class="container_block job_detail_list padding__0" ng-repeat="item in items">
					<div class="job_body">
						<span class="fav_select" ng-click="addToFavouriteJob($event,item.id)"><i class="fa fa-star" aria-hidden="true"></i></span>
						<div class="job_title">
						<a href="#!/jobs/desciption/{{item.slug}}">{{ item.title | limitTo: 20 }}{{ item.title.length > 20 ? '...' : ''}}</a>
						</div>
						<div class="job_comp">{{item.industry}}</div>
						<div class="job_location_exp">
							<span class="job_exp"><i class="fa fa-briefcase" aria-hidden="true"></i> {{item.min_experience == null ? 0:item.min_experience}}-{{item.max_experience ==null ? 0 : item.max_experience}} yrs</span>
							<span><i class="fa fa-map-marker" aria-hidden="true"></i> {{item.job_location}}</span>
						</div>
						<div class="job_location_exp">
							<span class="job_skill">Key Skills: </span>
							<span>{{item.skills==null ? 'None' :item.skills}}</span>
						</div>
					</div>
					<div class="job_bottom">
						<span class="job_sal">{{item.min_salary==null ? 0: item.min_salary}} - {{item.max_salary ==null ? 0: item.max_salary}} P.A</span>
						<span class="job_author">Posted By <a href="#">{{item.user.first_name}} {{item.user.last_name}}</a>, Just Now</span>
					</div>
				</div>

			<div ng-if="!isDataFound" style="text-align: center;">
				Oop's No Job Found!.
			</div>	
			<!-- <pagination 
		      ng-model="currentPage"
		      total-items="items.length"
		      max-size="maxSize"  
		      boundary-links="true">
		    </pagination> -->

		    <button class="btn btn-success" style="float: right;" ng-disabled="is_disable" ng-click="loadMore()">Load More</button>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- tesimonial ends -->

</div>