<div id="banner__wrapper">
	<div class="container">
		<div class="col-sm-9 row banner_content">
			<div class="banner_title">
				<h1>Buy Books</h1>
			</div>
			<div class="banner_form">
				<ul class="nav nav-tabs">
					<li><a data-toggle="tab" href="#buy">Buy</a></li>
					<li class="active"><a data-toggle="tab" href="#sell">Sell</a></li>
				</ul>
				<div class="tab-content">
					<div id="buy" class="tab-pane fade in active">
						<form>
							<input type="text" placeholder="Enter an ISBN, author, title, or keyword" />
							<button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
						</form>
					</div>
					<div id="sell" class="tab-pane fade">
						<h3>Menu 1</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner ends -->
		
<!-- main content starts -->
<div id="main__content" class="srch_results bg_grey_light">
	<div class="container">
		<!--<div class="row">-->
			<h4 class="srch_results_title no_margin_left">Search results for "{{item.title}}"</h4>
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12 book_profile">
						<div class="book_img floatL">
							<img ng-src="{{moduleThumbnailUrl + item.image}}" width="150px" ng-if="item.image" />
							<img ng-src="{{noImageUrl}}" / width="150px;" height="150px;" ng-if="!item.image">
						</div>
						<div class="profile_book_detail floatL">
							<div class="book_title">
								<p>{{item.title}}</p>
							</div>
							<div class="book_description">
								<p><span class="color_666">Job Type:</span> {{item.job_type}}</p>
								<p><span class="color_666">Industry:</span> {{item.industry}}</p>
								<p><span class="color_666">Job Location:</span> {{item.job_location}}</p>
						
								<br />
								<p><span class="color_666">Description:</span> {{item.description}}<a href="javascript:void(0)">More...</a></p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div><!--book_profile_detail ends -->
					<!-- <div class="col-sm-4 sidebar">
						<div class="sidebar_content">
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title-anchor" aria-expanded="true">New <span>Starting from: <strong>$14.21</strong></span></a>
										</h4>
									</div>
									<div id="collapse1" class="panel-collapse collapse in">
										<div class="panel-body">
											<span class="book_price">Buy New: $14.21</span>
											<span>U.S. Edition</span>
											<p>This item will ship on Wednesday, November 16.</p>
											<a class="add_cart" href="javascript:void(0)">+ Add to Cart</a>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title-anchor"aria-expanded="false">Marketplace<span>6 new and used from <strong>$7.44</strong></span></a>
										</h4>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title-anchor"aria-expanded="false">Sell<span>Get a cash quote</span></a>
										</h4>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
									</div>
								</div>
							</div> 
						</div>
					</div> -->
				</div>
			</div>
			<div class="clearfix"></div>
			<!--</div><!-- row ends -->
	</div><!-- container ends -->
</div>
<!-- main content ends