
		<div id="banner__wrapper">
			<div class="container">
				<div class="col-sm-9 row banner_content">
					<div class="banner_title">
						<h1>Buy Books</h1>
					</div>
					<div class="banner_form">
						<ul class="nav nav-tabs">
							<li><a data-toggle="tab" href="#buy">Buy</a></li>
							<li class="active"><a data-toggle="tab" href="#sell">Sell</a></li>
						</ul>
						<div class="tab-content">
							<div id="buy" class="tab-pane fade in active">
								<form>
									<input type="text" placeholder="Enter an ISBN, author, title, or keyword" />
									<button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
								</form>
							</div>
							<div id="sell" class="tab-pane fade">
								<h3>Menu 1</h3>
								<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner ends -->
		
		<!-- main content starts -->
		<div id="main__content" class="srch_results bg_grey_light">
			<div class="container">
				<!--<div class="row">-->
					<h4 class="srch_results_title no_margin_left">Search results for "{{item.title}}"</h4>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-8 book_profile">
								<div class="book_img floatL">
									<img ng-src="{{moduleThumbnailUrl + item.image}}" width="150px" ng-if="item.image" />
									<img ng-src="{{noImageUrl}}" / width="150px;" height="150px;" ng-if="!item.image">
								</div>
								<div class="profile_book_detail floatL">
									<div class="book_title">
										<p>{{item.title}}</p>
									</div>
									<div class="book_description">
										<p>Daniel Kahneman</p>
										<p><span class="normal">{{item.book_number}}</p>
										<!-- <p><span class="normal">SBN-13:<span> 9780374533557</p> -->
										<br />
										<p><span class="color_666">Edition:</span> 2013</p>
										<p><span class="color_666">Author(s):</span> Daniel Kahneman</p>
										<br />
										<p><span class="color_666">Description:</span> {{item.description}}<a href="javascript:void(0)">More...</a></p>
									</div>
									<div class="book_price">
										<!-- <p class="regular_price">List price: $16.00</p> -->
										<p class="sale_price">Buy it from: ${{item.price}}</p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div><!--book_profile_detail ends -->
							<div class="col-sm-4 sidebar">
								<div class="sidebar_content">
									<div class="panel-group" id="accordion">
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title-anchor" aria-expanded="true">New <span>Starting from: <strong>$14.21</strong></span></a>
												</h4>
											</div>
											<div id="collapse1" class="panel-collapse collapse in">
												<div class="panel-body">
													<span class="book_price">Buy New: $14.21</span>
													<span>U.S. Edition</span>
													<p>This item will ship on Wednesday, November 16.</p>
													<a class="add_cart" href="javascript:void(0)">+ Add to Cart</a>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="panel-title-anchor"aria-expanded="false">Marketplace<span>6 new and used from <strong>$7.44</strong></span></a>
												</h4>
											</div>
											<div id="collapse2" class="panel-collapse collapse">
												<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="panel-title-anchor"aria-expanded="false">Sell<span>Get a cash quote</span></a>
												</h4>
											</div>
											<div id="collapse3" class="panel-collapse collapse">
												<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
											</div>
										</div>
									</div> 
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="headline">
						<h3 class="floatL">Customers Also Bought</h3>
						<div class="controls arrows pull-right hidden-xs">
							<a class="left fa fa-angle-left" href="#carousel-example"
							   data-slide="prev"></a><a class="right fa fa-angle-right" href="#carousel-example"
							   data-slide="next"></a>
						</div>
						<div class="clearfix"></div>
					</div>
					
					<div id="carousel-example" class="carousel slide" data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<div class="row">									
									<div class="col-md-4 col-sm-6 text-center">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>Thinking, Fast and Slow</p>
												</div>
												<div class="book_author">
													<p>Daniel Kahneman</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />0374533555 / 9780374533557</p>
												</div>
												<div class="book_price">
													<p>$16.00 <span> $42.47 </span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->								
									<div class="col-md-4 col-sm-6 text-center">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>Thinking, Fast and Slow</p>
												</div>
												<div class="book_author">
													<p>Daniel Kahneman</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />0374533555 / 9780374533557</p>
												</div>
												<div class="book_price">
													<p>$16.00 <span> $42.47 </span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->								
									<div class="col-md-4 col-sm-6 text-center">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>Thinking, Fast and Slow</p>
												</div>
												<div class="book_author">
													<p>Daniel Kahneman</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />0374533555 / 9780374533557</p>
												</div>
												<div class="book_price">
													<p>$16.00 <span> $42.47 </span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->
								</div><!-- row ends -->
							</div><!-- item ends -->
							<div class="item">
								<div class="row">
									<div class="col-md-4 col-sm-6 text-center">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>Thinking, Fast and Slow</p>
												</div>
												<div class="book_author">
													<p>Daniel Kahneman</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />0374533555 / 9780374533557</p>
												</div>
												<div class="book_price">
													<p>$16.00 <span> $42.47 </span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->								
									<div class="col-md-4 col-sm-6 text-center">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>Thinking, Fast and Slow</p>
												</div>
												<div class="book_author">
													<p>Daniel Kahneman</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />0374533555 / 9780374533557</p>
												</div>
												<div class="book_price">
													<p>$16.00 <span> $42.47 </span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->								
									<div class="col-md-4 col-sm-6 text-center">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>Thinking, Fast and Slow</p>
												</div>
												<div class="book_author">
													<p>Daniel Kahneman</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />0374533555 / 9780374533557</p>
												</div>
												<div class="book_price">
													<p>$16.00 <span> $42.47 </span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->	
								</div><!-- row ends -->
							</div><!-- item ends -->
							<div class="item">
								<div class="row">							
									<div class="col-md-4 col-sm-6 text-center">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>Thinking, Fast and Slow</p>
												</div>
												<div class="book_author">
													<p>Daniel Kahneman</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />0374533555 / 9780374533557</p>
												</div>
												<div class="book_price">
													<p>$16.00 <span> $42.47 </span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->								
									<div class="col-md-4 col-sm-6 text-center">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>Thinking, Fast and Slow</p>
												</div>
												<div class="book_author">
													<p>Daniel Kahneman</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />0374533555 / 9780374533557</p>
												</div>
												<div class="book_price">
													<p>$16.00 <span> $42.47 </span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->								
									<div class="col-md-4 col-sm-6 text-center">
										<div class="srch_list">
											<div class="srch_rslt_img">
												<img src="images/srch_book.jpg" />
											</div>
											<div class="srch_rslt_detail">
												<div class="book_title">
													<p>Thinking, Fast and Slow</p>
												</div>
												<div class="book_author">
													<p>Daniel Kahneman</p>
												</div>
												<div class="book_author_contact">
													<p>2013<br />0374533555 / 9780374533557</p>
												</div>
												<div class="book_price">
													<p>$16.00 <span> $42.47 </span></p>
												</div>
												<div class="book_stock">
													<p><a class="btn btn-success">In Stock</a> Have one to sell? <span>We'll buy it!</span></p>
												</div>
											</div>
										</div>
									</div><!-- col-md-4 col-md-6 end -->
								</div><!-- row ends -->
							</div><!-- item ends -->
						</div><!-- carousel-inner ends -->
					</div><!-- carousel-slide ends -->
					
					<!-- market tabs start -->
					<div class="tab_mrkt_details">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#peer">Marketplace<br />(Peer to Peer)</a></li>
							<li><a data-toggle="tab" href="#buy_rent">Buy / Rent</a></li>
							<li><a data-toggle="tab" href="#ads">Wanted Ads<br />Peers Looking for this</a></li>
						</ul>
						<!-- tab content starts -->
						<div class="tab-content">
							<div id="peer" class="tab-pane fade in active">
								<ul>
									<li>
										<span class="seller_name">Seller Name</span>
										<span class="img_linit">User Can have up to 5 images</span>
										<span class="book_price">$10.90<br /><span>New / Used</span></span>
										<span class="usr_cmnt"><strong>User Comments</strong><br />User Can say something about their product briefly</span>
										<span class="send_msg"><a href="javascript:void(0)">Send Message</a></span>
									</li>
									<li>
										<span class="seller_name">Seller Name</span>
										<span class="img_linit">User Can have up to 5 images</span>
										<span class="book_price">$10.90<br /><span>New / Used</span></span>
										<span class="usr_cmnt"><strong>User Comments</strong><br />User Can say something about their product briefly</span>
										<span class="send_msg"><a href="javascript:void(0)">Send Message</a></span>
									</li>
									<li>
										<span class="seller_name">Seller Name</span>
										<span class="img_linit">User Can have up to 5 images</span>
										<span class="book_price">$10.90<br /><span>New / Used</span></span>
										<span class="usr_cmnt"><strong>User Comments</strong><br />User Can say something about their product briefly</span>
										<span class="send_msg"><a href="javascript:void(0)">Send Message</a></span>
									</li>
									<li>
										<span class="seller_name">Seller Name</span>
										<span class="img_linit">User Can have up to 5 images</span>
										<span class="book_price">$10.90<br /><span>New / Used</span></span>
										<span class="usr_cmnt"><strong>User Comments</strong><br />User Can say something about their product briefly</span>
										<span class="send_msg"><a href="javascript:void(0)">Send Message</a></span>
									</li>
								</ul>
							</div>
							<div id="buy_rent" class="tab-pane fade">
								<ul>
									<li><span>Buy and rent</span></li>
								</ul>
							</div>
							<div id="ads" class="tab-pane fade">
								<ul>
									<li>
										<span class="seller_name">Seller Name</span>
										<span class="book_price">$10.90<br /><span>New / Used</span></span>
										<span class="usr_cmnt"><strong>User Comments</strong><br />User Can say something about their product briefly</span>
										<span class="counter_img"><img src="images/counter_img.jpg" /></span>
										<span class="send_msg"><a href="javascript:void(0)">Send Message</a></span>
									</li>
									<li>
										<span class="seller_name">Seller Name</span>
										<span class="book_price">$10.90<br /><span>New / Used</span></span>
										<span class="usr_cmnt"><strong>User Comments</strong><br />User Can say something about their product briefly</span>
										<span class="counter_img"><img src="images/counter_img.jpg" /></span>
										<span class="send_msg"><a href="javascript:void(0)">Send Message</a></span>
									</li>
									<li>
										<span class="seller_name">Seller Name</span>
										<span class="book_price">$10.90<br /><span>New / Used</span></span>
										<span class="usr_cmnt"><strong>User Comments</strong><br />User Can say something about their product briefly</span>
										<span class="counter_img"><img src="images/counter_img.jpg" /></span>
										<span class="send_msg"><a href="javascript:void(0)">Send Message</a></span>
									</li>
									<li>
										<span class="seller_name">Seller Name</span>
										<span class="book_price">$10.90<br /><span>New / Used</span></span>
										<span class="usr_cmnt"><strong>User Comments</strong><br />User Can say something about their product briefly</span>
										<span class="counter_img"><img src="images/counter_img.jpg" /></span>
										<span class="send_msg"><a href="javascript:void(0)">Send Message</a></span>
									</li>
								</ul>
							</div>
						</div><!-- tab content ends -->
					</div>
					<!-- market tabs end -->
					
					<!-- tab details end -->
					<div class="tabs_detail">
						<ul class="nav nav-tabs">
							<li><a data-toggle="tab" href="#book_detail">Book Details</a></li>
							<li class="active"><a data-toggle="tab" href="#desc">Description</a></li>
							<li><a data-toggle="tab" href="#bio">Author Bio</a></li>
							<li><a data-toggle="tab" href="#content">Table of Contents</a></li>
						</ul>
						<!-- tab content starts -->
						<div class="tab-content">
							<div id="book_detail" class="tab-pane fade">
								<p>Book Details Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
							<div id="desc" class="tab-pane fade in active">
								<p>Selected by theNew York Times Book Reviewas one of the best books of 2011 A Globe and MailBest Books of the Year 2011 TitleOne of The Economist's 2011 Books of the Year One of The Wall Steet Journal's Best Nonfiction Books of the Year 2011Daniel Kahneman, recipient of the Nobel Prize in Economic Sciences for his seminal work in psychology that challenged the rational model of judgment and decision making, is one of our most important thinkers. His ideas have had a profound and widely regarded impact on many fields--including economics, medicine, and politics--but until now, he has never brought together his many years of research and thinking in one book.In the highly anticipatedThinking, Fast and Slow, Kahneman takes us on a groundbreaking tour of the mind and explains the two systems that drive the way we think. System 1 is fast, intuitive, and emotional; System 2 is slower, more deliberative, and more logical. Kahneman exposes the extraordinary capabilities--and also the faults and biases--of fast thinking, and reveals the pervasive influence of intuitive impressions on our thoughts and behavior. The impact of loss aversion and overconfidence on corporate strategies, the difficulties of predicting what will make us happy in the future, the challenges of properly framing risks at work and at home, the profound effect of cognitive biases on everything from playing the stock market to planning the next vacation--each of these can be understood only by knowing how the two systems work together to shape our judgments and decisions.Engaging the reader in a lively conversation about how we think, Kahneman reveals where we can and cannot trust our intuitions and how we can tap into the benefits of slow thinking. He offers practical and enlightening insights into how choices are made in both our business and our personal livesand how we can use different techniques to guard against the mental glitches that often get us into trouble.Thinking, Fast and Slowwill transform the way you think about thinking.</p>
							</div>
							<div id="bio" class="tab-pane fade">
								<p>Author Bio Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
							<div id="content" class="tab-pane fade">
								<p>Table of Contents Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div><!-- tab content ends -->
					</div><!-- tab details end -->
					
				<!--</div><!-- row ends -->
			</div><!-- container ends -->
		</div>
		<!-- main content ends