@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
h1, h2, h3, h4{
	margin-top: 0;
}
a:focus, a:hover{
	text-decoration: none;
}
a:hover{
	opacity: .75;
}
*,html{
	padding: 0;
	margin: 0;
}
h2{
	font-size: 42px;
	font-weight: 600;
}
h4{
	font-size: 22px;
	font-weight: 600;
}
ul{
	list-style: none;
}
.floatL{
	float: left;
}
.floatR{
	float: right;
}
.bg_white{
	background: #fff;
	border: 1px solid #cdcdcd;
}
.bg_orange{
	background: #ff9900;
	color: #fff !important;
}
.bg_grey{
	background: #f0f0f0;
	color: #333 !important;
}
.bg_grey_light{
	background: #f9f9f9;
	color: #333 !important;
}
.bg_grey_dark{
	background: #cdcdcd;
	color: #fff !important;
}
.bg_blue{
	background: #0db1f0;
	color: #fff !important;
}
.bg_dark{
	background: #333;
	color: #fff !important;
}
.bg_green{
	background: #9acd32;
	color: #fff !important;
}
.bg_blue_light{
	background: #53bfdf;
	color: #fff !important;
}
.bg_orange_light{
	background: #f78f6a;
	color: #fff !important;
}
.top__header{
	border-bottom: 1px solid #cdcdcd;
}
.top_left{
	margin-top: 7px;
}
.uni_select a{
	font-size: 16px;
	font-weight: 600;
    padding: 11px;
    display: block;
    text-align: center;
    border-radius: 5px;
}
.uni_title{
	font-size: 20px;
	font-weight: 600;
	margin-top: 9px;
}
.srch_feild input{
	border: none;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 19px 20px;
}
.cate_select p{
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 19px 0;
}
@media only screen and (min-width: 768px){
	.cate_select p{
		margin-left: -30px;
	}
}
.main__header{
	margin-bottom: 10px;
}
.main__header a{
	font-size: 16px;
	color: #333;
	font-weight: 600;
}
.site__logo{
	margin-top: 12px;
}
.site__logo a{
	font-size: 30px;
	color: #0db1f0;
}
.nav__menu{
	margin-top: 10px;
	padding-left: 0;
}
.nav__menu ul{
	margin-bottom: 0;
}
.nav__menu > ul > li{
	display: inline-block;
	margin: 0 10px;
}
.nav__menu ul li:first-child{
	margin-left: 0;
}
.nav__menu ul li:last-child{
	margin-right: 0;
}
.srch_select a{
	padding: 11px 15px;
    min-width: 150px;
    display: block;
	border-radius: 5px;
	position: relative;
}
.dropdown-submenu.open > a{
	border-radius: 5px 5px 0 0;
	outline: none;
}
.dropdown-menu{
	margin-top: 0;
	padding: 0;
	border-radius: 0 5px 5px 5px;
	min-width: 200px;
}
.dropdown-menu li{
	display: block;
	margin: 5px 0;
}
.dropdown-menu li a{
	color: #fff;
	padding: 3px 14px;
}
.dropdown-menu li a:hover{
	color: #f5f5f5;
	background: transparent;
}
.srch_select > a:after{
	content: '';
	position: absolute;
	right: 15px;
	top: 18px;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid #fff;
}
#ucchub__job .srch_select > a{
	border: 1px solid #cdcdcd;
}
#ucchub__job .srch_select > a:after{
	border-top-color: #333;
}
.profile_detail{
	margin-top: 13px;
	padding: 0;
}
.profile_title{
	margin: 8px 0 0 8px;
}
.profile_title a{
	padding-right: 25px;
}
.profile_title a:after{
	content: '';
	position: absolute;
	right: 0;
	top: 8px;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid #333;
}
.profile_title .dropdown-menu{
	margin-top: 22px;
}
#banner__wrapper{
	background: url(../images/banner.jpg) no-repeat;
	color: #fff;
	position: relative;
	height: 377px;
}
#banner__wrapper:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
#ucchub__job #banner__wrapper{
	background: url(../images/job_banner.jpg) no-repeat;
}
.banner_content{
	margin-top: 103px;
}
.banner_title h1{
	font-weight: bold;
	font-size: 48px;
	margin: 0;
}
.banner_title p{
	margin-top: 10px;
}
.banner_form {
    margin-top: 20px;
}
#ucchub__job .banner_form {
    margin-top: 50px;
}
.nav-tabs{
	border: none;
}
.nav-tabs li{
	margin-right: 2px;
}
.nav-tabs li a{
	background: rgba(0,0,0,.8);
	border-radius: 0;
	padding: 10px 20px;
	color: #fff;
	border: none;
	font-size: 14px;
	font-weight: 600;
}
.nav-tabs li.active a{
	background: #0db1f0;
	color: #fff;
	border-color: transparent;
}
#banner__wrapper form{
	position: relative;
}
#banner__wrapper form input{
	width: 100%;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    padding: 14px 15px;
    border: 5px solid rgba(0, 0, 0, 0.8);
}
#banner__wrapper form button{
	position: absolute;
    right: 5px;
    top: 5px;
	background: #0db1f0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 30px;
}
#banner__wrapper form button span{
	margin-right: 12px;
}
#ucchub__job #testimonial__wrapper{
	padding-bottom: 50px;
}
.testi_detail{
	max-width: 965px;
    margin: auto;
    padding: 50px 0;
}
.testi_user {
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
	max-width: 185px;
	margin-right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
}
.testi_user img{
	border-radius: 50%;
}
.testi_content{
	max-width: 760px;
}
.testi_content p{
	font-size: 30px;
	font-weight: 300;
	color: #525252;
	line-height: 1.25;
	margin-bottom: 0;
}
.testi_content .user_name{
	font-size: 24px;
	font-weight: 600;
}
#heading_section,
#marketplace_section,
#market_section{
	padding: 50px 0;
}
.heading_highlight p{
	font-size: 24px;
}
.heading_detail, .marketplace_detail{
	margin-top: 50px;
}
.heading_detail p{
	max-width: 90%;
}
.heading_detail a{
	font-weight: 600;
    color: #0db1f0;
}
.market_link{
	margin-top: 20px;
}
.market_link a{
	display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 3px;
}
#market_section h2{
	margin-bottom: 50px;
} 
.book_lists li{
	display: inline-block;
	margin: 0 18px 20px 0;
}
.book_img {
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    margin-bottom: 10px;
}
.book_detail p{
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
}
.book_detail .book_author{
	font-weight: 400;
}
.magazine_links{
	margin-top: 25px;
}
.quick_links .highlight{
    color: #0db1f0;
    margin-top: 0;	
}
.quick_links li{
	margin-bottom: 10px;
}
.quick_links a{
    color: #0db1f0;
}
#signup_page #footer__section{
	/*background: url(../images/footer_bg.png) no-repeat;*/
	position: relative;
	/*margin-top: -275px;
	padding-top: 300px;*/
}
#footer__section{
	background: #212225;
	color: #fff;
	padding-top: 50px;
}
#signup_page #footer__section .footer_bg{
	margin-top: -57px;
    padding-top: 50px;
    background: #212225;
}
#footer__section a{
	color: #fff;
}
.footer_liks li{
	margin-bottom: 10px;
}
.social_links li{
	display: inline-block;
	margin-right: 15px;
}
.copyright{
	color: #868a93;
	margin: 50px 0 0;
}
.srch_results{
	padding: 50px 0;
}
.srch_results_title {
    margin: 0 0 50px 15px;
}
.srch_list{
	border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 20px;
	background: #fff;
	margin-bottom: 30px;
}
.srch_rslt_detail{
	font-size: 14px;
    margin-top: 10px;
}
.srch_rslt_detail p{
	margin-bottom: 5px;
}
.book_title{
	font-size: 18px;
	font-weight: 600;
}
.book_author{
	font-weight: 600;
}
.book_price{
	font-size: 18px;
	font-weight: 600;
	color: #0db1f0;
}
.book_price p:last-child{
	margin-bottom: 0;
}
.book_price span{
	font-size: 16px;
	color: #000;
	text-decoration: line-through;
}
.book_stock p{
	font-weight: 600;
}
.book_stock p a{
	padding: 2px 5px;
	margin-right: 5px;
}
.book_stock p span{
	color: #ff9900;
}
.site__login a{
	padding: 5px 15px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 4px;
}
#signup__wrapper{
	font-family: 'Roboto', sans-serif;
	background: #edf9fe;
	padding: 40px 0 350px;
}
#signup__wrapper h3{
	font-size: 36px;
}
.signup__form{
	max-width: 442px;
	margin: auto;
	padding: 30px;
	background: #fff;
	margin-top: 20px;
}
.signup__form .form-group{
	margin-bottom: 20px;
}
.signup__form input,
.signup__form select{
	width: 100%;
    background: #e0e3e9;
    padding: 15px 10px;
    border: none;
	min-height: 50px;
}
.signup__form input.srch_icon{
	background-image: url(../images/srch_icon.png);
	background-repeat: no-repeat;
	background-position: 97% center;
}
.signup__form input::placeholder{
	color: #333;
	font-size: 16px;
	display: block;
}
.signup__form button{
	float:left;
	width:40%;
    background: #0db1f0;
    outline: none;
    color: #fff;
    padding: 15px 33px;
}
.signup__form .choice{
	width: 10%;
    float: left;
    text-align: center;
    margin-top: 15px;
}
.signup__buttons .form-group{
	float:right;
	width:50%;
}
.gender .form-group {
    width: 47%;
}
.signup__link a {
    color: #0db1f0;
    font-size: 24px;
}
.signup__link {
    text-align: right;
}
.arrow {
    text-align: right;
}
.controls.arrows{
	font-size: 35px;
}
.controls.arrows a{
	margin-left: 10px;
	color: #333;
}
.headline h3{
	font-weight: 600;
	margin-bottom: 1em;
}
.no_margin_left{
	margin-left: 0;
}
.book_profile{
	background: #fff;
	padding: 25px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
.book_profile .book_img{
	max-width: 24%;
}
.profile_book_detail{
	max-width: 76%;
	padding: 0 0 0 25px;
}
.profile_book_detail .book_title{
	font-size: 24px;
	line-height: 1;
}
.book_description p{
	font-size: 14px;
	margin-bottom: 2px;
	font-weight: 600;
}
.book_description p:first-child{
	margin-bottom: 5px;
}
.normal{
	font-weight: normal;
}
.color_666{
	color: #666;
}
.regular_price{
	text-decoration: line-through;
    color: #333;
    margin: 15px 0 0;
}
.panel-group{
	border: 1px solid #cdcdcd;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 0;
}
.panel-group .panel{
	border-radius: 0;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #cdcdcd;
}
.panel-group .panel:last-child{
	border-bottom: none;
}
.panel-heading{
	padding: 20px 15px;
	background-color: #f9f9f9 !important;
}
.panel-group .panel + .panel{
	margin: 0;
}
.panel-group .panel span{
	display: block;
}
.panel-title{
	font-size: 18px;
	color: #666;
}
.panel-title a{
	display: block;
	position: relative;
}
.panel-title span{
	font-size: 14px;
	margin-top: .5em;
}
.panel-body{
	position: relative;
	border: none;
	padding: 20px 15px;
}
.panel-body span + span{
	font-size: 14px;
	margin: 5px 0 20px;
}
.panel-body p{
	font-size: 14px;
	font-style: italic;
}
.add_cart {
    background: #81bc4b;
    color: #fff;
    font-size: 14px;
    padding: .5em;
    border-radius: 3px;
    position: absolute;
    right: 1em;
    top: 2em;
}
.panel-title-anchor[aria-expanded="true"]:after{
	content: ' ';
	display: block;
	position: absolute;
	right: 0;
	top: 20px;
	height: 3px;
	width: 15px;
	background: #cdcdcd;
}
.panel-title-anchor[aria-expanded="false"]:after{
	content: '+';
	display: block;
	position: absolute;
	right: 0;
	font-size: 30px;
	font-weight: bold;
	color: #cdcdcd;
	top: 5px;
	height: auto;
	width: auto;
	background: transparent;
}
.headline{
	margin-top: 2em;
}
#main__content .nav-tabs{
	border-bottom: 1px solid #666;
}
#main__content .nav-tabs li{
	margin-right: 35px;
}
#main__content .nav-tabs li:last-child{
	margin-right: 0;
}
#main__content .nav-tabs li a{
	color: #666;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600;
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
}
#main__content .nav-tabs li.active a,
#main__content .nav-tabs li:hover a{
	color: #0cb1f0;
	background: none;
	border-bottom-color: #0cb1f0;
}
#main__content .tab-content{
	padding: 1.5em .5em;
	font-size: 14px;
}
.tab_mrkt_details{
	text-align: center;
	margin: 15px 0 30px;
}
.tab_mrkt_details .nav-tabs{
	display: inline-block;
    border: 1px solid #cdcdcd !important;
	overflow: hidden;
    background: #fff;
    border-radius: 5px;
    text-align: left;
}
.tab_mrkt_details .nav-tabs li{
	margin-right: 0 !important;
	border-right: 1px solid #cdcdcd;
}
.tab_mrkt_details .nav-tabs li:last-child{
	border-right: none;
}
.tab_mrkt_details .nav-tabs a {
    border: none !important;
    padding: 14px 25px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    line-height: 1.2 !important;
	font-size: 16px !important;
	margin-right: 0;
	min-height: 66px;
}
.tab_mrkt_details .nav-tabs li.active a,
.tab_mrkt_details .nav-tabs li:hover a {
	color: #fff !important;
	background: #0cb1f0 !important;
	border: none !important;
}
.tab_mrkt_details .tab-content {
	text-align: left;
	background: #fff;
	margin-top: 20px;
	border-radius: 5px;
	padding: 0 !important;
	border: 1px solid #cdcdcd;
}
.tab-content ul{
	margin-bottom: 0;
}
.tab-content li {
    padding: 20px;
    border-bottom: 1px solid #cdcdcd;
}
.tab-content li:last-child {
    border-bottom: none;
}
.tab-content li span {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: 28px;
    font-size: 14px;
    font-weight: 600;
}
span.seller_name {
    max-width: 150px;
}
span.img_linit {
    max-width: 270px;
}
span.book_price {
    max-width: 150px;
}
span.book_price span {
    color: #666;
	text-decoration: none;
}
span.usr_cmnt {
    max-width: 250px;
}
span.send_msg {
    max-width: 150px;
	text-align: right;
    margin-right: 0 !important;
}
span.send_msg a{
	background: #81bc4b;
	color: #fff;
	display: block;
	text-align: center;
	padding: 10px 20px;
	border-radius: 5px;
}
span.counter_img{
	max-width: 200px;
	margin: 0 48px !important;
}
.school_banner_form form{
    border: 5px solid rgba(0, 0, 0, 0.8);
	max-width: 915px;
}
.school_banner_form form input{
    max-width: 290px;
	margin-right: -3px;
	border: none !important;
}
.school_banner_form form select {
    width: 235px;
	color: #333;
	font-weight: 600;	
    padding: 12px 20px;
    margin-right: -3px;
	border: 1px solid #fff;
}
#ucchub__job .school_banner_form form select {
    width: 157px;
}
.school_banner_form form button {
    top: 0 !important;
	right: 0 !important;
    padding: 13px 30px !important;
}
.rank_title h1{
	font-size: 46px;
	font-weight: 600;
}
.rank_title p{
	font-size: 24px;
}
#ucchub__job .rank_title p{
	font-weight: 600;
	margin: 40px 0;
}
.sample_content p{
	margin-top: 10px;
	font-weight: 600;
}
.sample_content a{
	color: #ff9a02;
	font-weight: 600;
	border-radius: 5px;
	border: 2px solid #ff9a02;
	padding: .5em 1em;
	display: inline-block;
}
.why_detail{
	margin-bottom: 3em;
}
.why_detail + .why_detail{
	margin-bottom: 0;
}
.why_content{
	margin-top: 50px;
}
.team_mem_desc{
	font-size: 14px;
	font-weight: 600;
}
.team_mem_pic img {
    border-radius: 50%;
    border: 3px solid #fff;
}
.font-46{
	font-size: 46px;
	font-weight: 600;
}
.Signup_login_links{
	margin-top: 40px;
}
.Signup_login_links a {
    padding: 8px 25px;
	border-radius: 5px;
    display: inline-block;
}
#content__wrapper{
	padding: 50px 0;
}
.srch_filter{
	border-bottom: 2px solid #cdcdcd;
	margin-bottom: 25px;
}
.srch_filter ul{
	margin-bottom: -2px;
}
.srch_filter li{
	display: inline-block;
	font-size: 16px;
}
.srch_filter li a{
	font-size: 18px;
	font-weight: 600;
	color: #666;
	padding-bottom: 10px;
	display: inline-block;
	margin-right: 15px;
}
.srch_filter li.filtr_active a,
.srch_filter li:hover a{
	color: #0db1f0;
	border-bottom: 2px solid #0db1f0;
}
.container_block{
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid #cdcdcd;
}
.padding__0{
	padding: 0;
}
.left_quick_links li a{
	display: block;
	padding: 15px 15px 15px 70px;
	font-size: 18px;
	font-weight: 600;
	color: #666;
	border-bottom: 1px solid #cdcdcd;
}
.left_quick_links li:last-child a{
	border-bottom: none;
}
.left_quick_links li.location a{
	background: url(../images/location_icon.jpg) no-repeat 15px center;
}
.left_quick_links li.majors a{
	background: url(../images/major_icon.jpg) no-repeat 15px center;
}
.left_quick_links li.score a{
	background: url(../images/score_icon.jpg) no-repeat 15px center;
}
.left_quick_links li.net_price a{
	background: url(../images/net_price_icon.jpg) no-repeat 15px center;
}
.initial_title {
    text-align: center;
    color: #fff;
    border-radius: 50%;
    padding: 20px;
    font-size: 18px;
    margin-right: 20px;
    font-weight: 600;
}
.srch_list_content li{
	margin-top: 20px;
}
.srch_content_detail h4{
	color: #0db1f0;
	margin-bottom: 0;
}
span.inline_list {
    display: inline-block;
    width: 100%;
    max-width: 140px;
    margin-top: 10px;
}
span.inline_list span {
    display: block;
}
span.semibold {
    font-weight: 600;
}
.avg_count{
	padding: 0 5px;
	border-radius: 3px;
}
.views_counter p + p {
    font-size: 12px;
    margin: 0;
}
.wishlist a {
    background: #cdcdcd;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    padding: 5px 10px;
}
p.wishlist {
    margin-top: 10px !important;
}
.more_reviews{
	display: none;
}
.refine_results{
	margin-bottom: 30px;
	overflow: hidden;
}
.refine_results ul{
	margin-bottom: 0;
}
.refine_results li {
    border-bottom: 1px solid #cdcdcd;
    padding: 20px;
}
.frm_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.refine_results label{
	font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}
.refine_results input{
	padding: 11px;
	height: auto;
    font-size: 16px;
}
.refine_results .checkbox{
	max-height: 325px;
	overflow: auto;
}
.refine_results .checkbox label{
	display: block;
    font-size: 16px;
    margin-bottom: 15px;
    padding-top: 5px;
    font-weight: normal;
    padding-left: 35px;
    position: relative;
}
.refine_results input[type="checkbox"] {
    height: 24px;
    width: 24px;
	margin-left: -35px;
	top: 0;
    -webkit-appearance: none;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
	outline: none;
    box-shadow: inset 1px 1px 2px rgba(205, 205, 205, 0.6);
}
.refine_results input[type=checkbox]:checked {
    -webkit-appearance: checkbox !important;
}
#ucchub__job .panel-group{
	border: none;
	border-radius: 0;
}
#ucchub__job .panel-heading{
	background-color: transparent !important;
	border-color: transparent;
}
#ucchub__job .panel-heading a{
	padding-left: 20px;
	position: relative;
}
#ucchub__job .panel-heading a:before{
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	border-bottom: 7px solid transparent;
	border-top: 7px solid transparent;
	border-left: 7px solid #525252;
}
.job_detail_list {
    margin-bottom: 20px;
}
.job_body {
    padding: 20px;
    border-bottom: 1px solid #cdcdcd;
    position: relative;
}
.job_bottom {
    padding: 15px;
	font-size: 14px;
}
.job_bottom a{
    color: #0cb1f0;
}
span.job_author {
	float: right;
}
.job_title{
	max-width: 90%;
}
.job_title a {
    font-size: 22px;
    font-weight: 600;
    color: #0cb1f0;
}
.job_comp {
    font-weight: 600;
    margin: 5px 0 15px;
}
span.job_exp {
    margin-right: 20px;
}
.job_location_exp {
    margin-bottom: 10px;
}
span.job_skill {
    font-weight: 600;
    margin-right: 15px;
}
span.fav_select {
    position: absolute;
    right: 15px;
	top: 10px;
	font-size: 20px;	
    color: #ccc;
}
.job_apply_btns{
	margin-top: 20px;
}
.job_apply_btns a{
	font-size: 24px;
	font-weight: 600;
	color: #ff9900;
	border: 1px solid #ff9900;
	border-radius: 5px;
	line-height: 1;
	padding: 10px 20px;
	display: inline-block;
}
.job_apply_btns a + a{
	margin-left: 15px;
}
.no_border{
	border: none !important;
}
li.rslt_cnt {
    font-size: 14px;
	border-bottom: none;
}
li.rslt_cnt p:last-child{
    margin-bottom: 0;
}
span.refine_title {
    min-width: 110px;
    display: inline-block;
}
span.part_col {
    margin-right: 60px;
}
pre{
	background: none;
    font-size: 14px;
    padding: 0;
    border: none;
    line-height: 25px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
}
.social_icon_btns a{
	display: inline-block;
	width: 37px;
	height: 34px;
	background: url(../images/social_icons.png) no-repeat;
}
.social_icon_btns a.twtr{
	background-position: -40px 0;
}
.social_icon_btns a.linkdin{
	background-position: -80px 0;
}
.social_icon_btns a.t_social{
	background-position: -120px 0;
}
.social_icon_btns a.gplus{
	background-position: -160px 0;
}
.social_icon_btns a.n_social{
	background-position: -200px 0;
}
.social_icon_btns a.pintrest{
	background-position: -240px 0;
}
.social_icon_btns {
    float: right;
    margin-top: 20px;
}
@media (min-width: 992px){
	.social_icon_btns {
		float: right;
		margin-top: -36px;
	}
}@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

#banner_bar_wrapper {
    padding: 10px 0 0 0;
}
.news-detail a{
    background: #f63d29;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 9px 11px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.news-text, .news-button {
    display: inline-block;
}
.news-text{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 16px;
    margin-left: 10px;
}
.banner-img img{
	min-height:100%;
}
.banner-img {
    padding: 0;
    height: 342px;
    display: block;
    overflow: hidden;
	position:relative;
}
.banner .col-sm-6:nth-child(1){
	padding-right:1px;
	padding-left:0;
}
.banner .col-sm-6:nth-child(2) {
    padding-left: 1px;
    padding-right: 0;
}
.caption{
    padding: 11px 15px;
    background: rgba(45, 40, 40, 0.48);
    position: absolute;
    bottom: 0;
	color:#fff;
	width: 99.15%;
}
.fa-clock-o {
    margin-right: 5px;
}
.caption-date,.caption-text{
	font-size:14px;
}
.caption-heading{
	font-size:18px;
	font-weight:600;
	margin:0;
	line-height:2;
}
.caption-text{
	margin:0;
}
.lower-banner{
    padding-top: 2px;
}
.lower-banner .col-sm-4:nth-child(1),.lower-banner .col-sm-4:nth-child(3){
	padding-right:0;
	padding-left:0;
}
.lower-banner .col-sm-4:nth-child(2){
	padding-right:2px;
	padding-left:2px;
}

.news-bar {
    background: #0db1f0;
	padding: 9px 0;
}
.news-bar ul{
    margin:0;
}
.news-bar li{
    display:inline;
}
.news-bar li a {
    color: #fff;
    font-weight: 600;
    padding: 0px 6px;
}
.main-block {
    padding-bottom: 50px;
    background: #f9f9f9;
}
.main-heading{
    text-align: center;
    font-weight: 600;
    padding: 57px 0;
    font-size: 24px;
	margin:0;
}
.main-caption p{
	margin:0;
}
.main-caption {
	background:#fff;
    border: 1px solid #cdcdcd;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    padding: 20px;
    color: #0cb1f0;
    font-size: 18px;
}
.main-img {
    border: 1px solid #cdcdcd;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}
.main-block .col-sm-4 {
    padding:10px;
}
/******************* Description page *************************/
.page-banner .banner-img {
    height: 597px;
}	
.page-banner .caption-text {
    font-size: 28px;
}
.page-banner .col-sm-12{
	padding:0;
}
.upper-content {
    margin-top: 40px;
}
.lower-content .main-heading{
    text-transform:uppercase;
}
.upper-content li{
    margin-bottom: 15px;
}
.upper-content .col-sm-1{
	padding:5px;
}
.subscribers {
    background: #0cb1f0;
    padding: 0 5px;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
}
.subscribers p{
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
}
.user-count{
	font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.user-count img{
    margin-left: 13px;
}
.reactions {
    margin-top: 30px;
}
.reactions li {
	font-family: 'Roboto Condensed', sans-serif;
    float: left;
    text-align: center;
    margin: 0;
    border: 1px solid #e4e4e4;
    padding: 20px 25px;
    height: 115px;
    background: #fff;
	text-transform:uppercase;
}
.reactions li a{
	font-size:14px;
	color:#8c8c8c;
}
.reactions li p{
	font-size:16px;
	font-weight:700;
	margin:0;
}
.reactions li img {
    margin-bottom: 10px;
}
.reactions li:nth-child(1) img{
    margin-top: 10px;
}

/*********************scholarship my page**************************/
.main-area {
    padding: 40px 0;
    background: #f9f9f9;
}
.scholarship-banner{
    height: 325px;
}
.form-box {
    margin: 0 0 40px 0;
}
.form-box .col-sm-8{
	padding-left:0;
	font-size:15px;
	font-weight:600;
}
.race .form-data, .gender .form-data,.school .form-data{
	width:72%;
}
.gender, .race, .school,.btns-group {
	margin-bottom:40px;
}
.btns-group,.btns-group .col-md-12{
	padding:0;
}
.btns-group .btn{
    width: 100%;
    background: #0db1f0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
	padding:15px 0;
}
.search-button {
    margin-left: 382px;
}
.search-button .btn{
    background: #f90;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    box-shadow: none;
    padding: 15px 18px;
}
.border-line {
    border-bottom: 1px solid #c7c7c7;
}
.form-box p{
	width:28%;
	display: table-cell;
    vertical-align: middle;
}
.form-box .floatL{
	display: table;
    height: 46px;
}
.form-data select {
    width: 180px;
    padding: 10px;
}	
.form-data input{
	width:475px;
	padding:10px;
}
.form-data select,.form-data input{
	border: 1px solid #cdcdcd;
    border-radius: 3px;
	outline:none;
}

.scholarship-block{
	margin-top:20px;
	
}
.scholarship-content{
	background:url("../images/scholarship-desc-image1.jpg");
	height:100%;
}
.banner-caption{
	display: table;
	height:100%;
}

.banner-caption p {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
 }
 .scholarship-info {
    border: 1px solid #cdcdcd;
	margin: 20px 0;
    border-radius: 3px;
	background: #fff;
}
.text-box,.details,.details-btn{
	padding-top:15px;
	padding-bottom:15px;
	
}
.img-area{
	padding:0;
}
.img-area img {
    border: 2px solid #cdcdcd;
    border-radius: 2px;
}
.text-area{
	padding: 0 0 0 50px;
}
.text-area p,.amount p, .deadline p{
	margin:0;
}

.text, .amount p:nth-child(2), .deadline p:nth-child(2){
	color:#8a8a8a;
}
.text-heading {
    font-size: 22px;
    color: #0cb1f0;
    font-weight: 600;
}
.amount p:nth-child(1), .deadline p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}
.details-btn .btn{
    background: #f90;
    color: #fff;
    font-size: 18px;
    padding: 9px 28px;
    border-radius: 5px;
}

/****************Landing page****************/
.landing-banner {
    height: 600px;
}
.landing-content {
    background: url(../images/scholarship-landing-banner.jpg);
    height: 100%;
}
.landing-content .container{
	height: 100%;
	display: table;
}
.banner-line {
    display: table-cell;
    vertical-align: middle;
	text-transform: capitalize;
}
.banner-line p:nth-child(1) {
    color: #fff;
    font-size: 62px;
    font-weight: 600;
	width:60%;
}
.banner-line p:nth-child(2) {
    color: #fff;
    font-size: 32px;
	width:60%;
}
.landing-banner button{
    text-transform: capitalize;
    background: #f90;
    font-size: 24px;
    color: #fff;
    padding: 14px 32px;
    margin-top: 30px;
}
.landing-box-1 {
    padding: 60px 0;
    text-align: center;
}
.landing-box-1>p:first-child,.landing-box-2>p:first-child{
	font-size:46px;
	font-weight:600;
	line-height:1;
}
.landing-box-1>p+p{
	font-size:24px;
	color:#666666;
}
.landing-box-1 .heading{
	font-size:22px;
	font-weight:600
}
.landing-box-1 .text{
	color:#666666;
}
.landing-box-1 img {
    margin-bottom: 40px;
	width:auto;
	height:100px;
}
.landing-box-1 .row{
    margin-top: 36px;
}
.landing-box-2 {
    background: #0db1f0;
    padding: 60px 0;
	text-align:center;
	color:#fff;
}
.landing-box-2>p:first-child{
	margin-bottom:20px;
}
.landing-box-2>p+p{
	font-size:24px;
}
.landing-box-2 p{
	margin:0;
	line-height:1;
}
.landing-box-2 img{
    border: 5px solid #fff;
    border-radius: 75px;
    width: auto;
    height: 140px;
    margin-bottom: 30px;
	margin-top:60px;
}
.landing-box-2 .heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}
.landing-box-2 .text-1 {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0 5px;
    margin-bottom: 20px;
}
.landing-box-2 .text-2 {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    text-transform: capitalize;
}
.landing-box-3 {
    height: 400px;
	text-align:center;
	
}
.back-ground {
    background: url(../images/scholarship-landing-Bg2.jpg);
    height: 100%;
}
.back-ground .container{
	height: 100%;
	display: table;
}
.landing-box-3 .text{
	display:table-cell;
	vertical-align:middle;
}
.landing-box-3 .text>p:first-child{
	font-size:46px;
	font-weight:700;
	color:#fff;
	text-transform:capitalize;
}
.landing-box-3 .text>p+p{
	font-size:24px;
	font-weight:600;
	color:#fff;
}
.landing-box-3 button{
    background: #f90;
    color: #fff;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
}
.landing-box-3 .btn-1{
	padding:14px 45px;
	margin:40px 12px 0;
}
.landing-box-3 .btn-2{
	padding:14px 25px;
	margin:40px 12px 0;
}
.landing-box-4 {
    text-align: center;
    padding: 60px 0;
}
.landing-box-4>p:first-child{
	font-size:46px;
	font-weight:600;
	line-height:1;
}
.landing-box-4>p+p{
	font-size:24px;
	font-weight:600;
}
.landing-box-4 img {
    vertical-align: middle;
    width: auto;
    height: 99px;
}
.landing-box-4 .col-sm-3{
	margin-top:60px;
}
.landing-box-4 .content {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding-top: 40px;
}
.landing-box-4 .heading{
	color:#7a7a7a;
	margin:35px 0;
	line-height:0;
}
.landing-box-4 .text{
	color:#0db1f0;
	font-size:32px;
	font-weight:600;
}
.landing-box-4 button {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #f90;
    padding: 11px 0;
	width:100%;
    border-radius: 0 0 5px 5px;
    margin-top: 40px;
}
/******************************** notification ****************************/
.notification .profile-img {
    height: 146px;
}
.notification .profile-name p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.notification .tab_mrkt_details {
    text-align: center;
    margin: 30px 0 30px;
}
.notification .profile-info{
	border: 1px solid #cdcdcd !important;
	border-top: 5px solid #0db1f0 !important;
}
.notification .info {
    background: #fff;
    padding: 30px 0;
}
.notification{
	background:#f9f9f9;
}
.notification .tab_mrkt_details .nav-tabs {
    display: block;
	border: initial !important;
    overflow: hidden;
    background: #fff;
    border-radius: 0;
    text-align: left;
}
.notification  .nav-tabs>li{
	float:none;
}
.notification .nav-tabs li {
    border-right: initial;
}
.notification .nav-tabs li {
    border-top: 1px solid #cdcdcd;
}
.notification .nav-tabs a {
    padding: 15px 30px !important;
    display: block !important;
    background: #fff;
	color:#7a7a7a;
    font-size: 14px !important;
    margin-right: 0;
	text-transform:capitalize;
	font-weight: 400;
	line-height: 1.5 !important;
    min-height: auto;
    vertical-align: initial;
}
.notification  .nav>li>a:focus,.notification  .nav>li>a:hover {
    text-decoration: none;
    background-color: #f3f3f3 !important;
}
.notification .nav-tabs li.active a, .notification .nav-tabs li:hover a {
    color: #7a7a7a !important;
    background: #f3f3f3 !important;
    border: none !important;
}
.notification .tab-content {
    text-align: left;
    background: #f9f9f9;
    margin-top: 0;
    border-radius: 0;
    border: initial;
}
.notification  .tab-content .tab-pane>p {
    font-size: 20px;
    font-weight: 600;
	line-height: 1;
}
.notification  .tab-pane .col-xs-1 {
    padding: 0;
}