@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

#banner_bar_wrapper {
    padding: 10px 0 0 0;
}
.news-detail a{
    background: #f63d29;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 9px 11px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.news-text, .news-button {
    display: inline-block;
}
.news-text{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 16px;
    margin-left: 10px;
}
.banner-img img{
	min-height:100%;
}
.banner-img {
    padding: 0;
    height: 342px;
    display: block;
    overflow: hidden;
	position:relative;
}
.banner .col-sm-6:nth-child(1){
	padding-right:1px;
	padding-left:0;
}
.banner .col-sm-6:nth-child(2) {
    padding-left: 1px;
    padding-right: 0;
}
.caption{
    padding: 11px 15px;
    background: rgba(45, 40, 40, 0.48);
    position: absolute;
    bottom: 0;
	color:#fff;
	width: 99.15%;
}
.fa-clock-o {
    margin-right: 5px;
}
.caption-date,.caption-text{
	font-size:14px;
}
.caption-heading{
	font-size:18px;
	font-weight:600;
	margin:0;
	line-height:2;
}
.caption-text{
	margin:0;
}
.lower-banner{
    padding-top: 2px;
}
.lower-banner .col-sm-4:nth-child(1),.lower-banner .col-sm-4:nth-child(3){
	padding-right:0;
	padding-left:0;
}
.lower-banner .col-sm-4:nth-child(2){
	padding-right:2px;
	padding-left:2px;
}

.news-bar {
    background: #0db1f0;
	padding: 9px 0;
}
.news-bar ul{
    margin:0;
}
.news-bar li{
    display:inline;
}
.news-bar li a {
    color: #fff;
    font-weight: 600;
    padding: 0px 6px;
}
.main-block {
    padding-bottom: 50px;
    background: #f9f9f9;
}
.main-heading{
    text-align: center;
    font-weight: 600;
    padding: 57px 0;
    font-size: 24px;
	margin:0;
}
.main-caption p{
	margin:0;
}
.main-caption {
	background:#fff;
    border: 1px solid #cdcdcd;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    padding: 20px;
    color: #0cb1f0;
    font-size: 18px;
}
.main-img {
    border: 1px solid #cdcdcd;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}
.main-block .col-sm-4 {
    padding:10px;
}
/******************* Description page *************************/
.page-banner .banner-img {
    height: 597px;
}	
.page-banner .caption-text {
    font-size: 28px;
}
.page-banner .col-sm-12{
	padding:0;
}
.upper-content {
    margin-top: 40px;
}
.lower-content .main-heading{
    text-transform:uppercase;
}
.upper-content li{
    margin-bottom: 15px;
}
.upper-content .col-sm-1{
	padding:5px;
}
.subscribers {
    background: #0cb1f0;
    padding: 0 5px;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
}
.subscribers p{
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
}
.user-count{
	font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.user-count img{
    margin-left: 13px;
}
.reactions {
    margin-top: 30px;
}
.reactions li {
	font-family: 'Roboto Condensed', sans-serif;
    float: left;
    text-align: center;
    margin: 0;
    border: 1px solid #e4e4e4;
    padding: 20px 25px;
    height: 115px;
    background: #fff;
	text-transform:uppercase;
}
.reactions li a{
	font-size:14px;
	color:#8c8c8c;
}
.reactions li p{
	font-size:16px;
	font-weight:700;
	margin:0;
}
.reactions li img {
    margin-bottom: 10px;
}
.reactions li:nth-child(1) img{
    margin-top: 10px;
}

/*********************scholarship my page**************************/
.main-area {
    padding: 40px 0;
    background: #f9f9f9;
}
.scholarship-banner{
    height: 325px;
}
.form-box {
    margin: 0 0 40px 0;
}
.form-box .col-sm-8{
	padding-left:0;
	font-size:15px;
	font-weight:600;
}
.race .form-data, .gender .form-data,.school .form-data{
	width:72%;
}
.gender, .race, .school,.btns-group {
	margin-bottom:40px;
}
.btns-group,.btns-group .col-md-12{
	padding:0;
}
.btns-group .btn{
    width: 100%;
    background: #0db1f0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
	padding:15px 0;
}
.search-button {
    margin-left: 382px;
}
.search-button .btn{
    background: #f90;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    box-shadow: none;
    padding: 15px 18px;
}
.border-line {
    border-bottom: 1px solid #c7c7c7;
}
.form-box p{
	width:28%;
	display: table-cell;
    vertical-align: middle;
}
.form-box .floatL{
	display: table;
    height: 46px;
}
.form-data select {
    width: 180px;
    padding: 10px;
}	
.form-data input{
	width:475px;
	padding:10px;
}
.form-data select,.form-data input{
	border: 1px solid #cdcdcd;
    border-radius: 3px;
	outline:none;
}

.scholarship-block{
	margin-top:20px;
	
}
.scholarship-content{
	background:url("../images/scholarship-desc-image1.jpg");
	height:100%;
}
.banner-caption{
	display: table;
	height:100%;
}

.banner-caption p {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
 }
 .scholarship-info {
    border: 1px solid #cdcdcd;
	margin: 20px 0;
    border-radius: 3px;
	background: #fff;
}
.text-box,.details,.details-btn{
	padding-top:15px;
	padding-bottom:15px;
	
}
.img-area{
	padding:0;
}
.img-area img {
    border: 2px solid #cdcdcd;
    border-radius: 2px;
}
.text-area{
	padding: 0 0 0 50px;
}
.text-area p,.amount p, .deadline p{
	margin:0;
}

.text, .amount p:nth-child(2), .deadline p:nth-child(2){
	color:#8a8a8a;
}
.text-heading {
    font-size: 22px;
    color: #0cb1f0;
    font-weight: 600;
}
.amount p:nth-child(1), .deadline p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}
.details-btn .btn{
    background: #f90;
    color: #fff;
    font-size: 18px;
    padding: 9px 28px;
    border-radius: 5px;
}

/****************Landing page****************/
.landing-banner {
    height: 600px;
}
.landing-content {
    background: url(../images/scholarship-landing-banner.jpg);
    height: 100%;
}
.landing-content .container{
	height: 100%;
	display: table;
}
.banner-line {
    display: table-cell;
    vertical-align: middle;
	text-transform: capitalize;
}
.banner-line p:nth-child(1) {
    color: #fff;
    font-size: 62px;
    font-weight: 600;
	width:60%;
}
.banner-line p:nth-child(2) {
    color: #fff;
    font-size: 32px;
	width:60%;
}
.landing-banner button{
    text-transform: capitalize;
    background: #f90;
    font-size: 24px;
    color: #fff;
    padding: 14px 32px;
    margin-top: 30px;
}
.landing-box-1 {
    padding: 60px 0;
    text-align: center;
}
.landing-box-1>p:first-child,.landing-box-2>p:first-child{
	font-size:46px;
	font-weight:600;
	line-height:1;
}
.landing-box-1>p+p{
	font-size:24px;
	color:#666666;
}
.landing-box-1 .heading{
	font-size:22px;
	font-weight:600
}
.landing-box-1 .text{
	color:#666666;
}
.landing-box-1 img {
    margin-bottom: 40px;
	width:auto;
	height:100px;
}
.landing-box-1 .row{
    margin-top: 36px;
}
.landing-box-2 {
    background: #0db1f0;
    padding: 60px 0;
	text-align:center;
	color:#fff;
}
.landing-box-2>p:first-child{
	margin-bottom:20px;
}
.landing-box-2>p+p{
	font-size:24px;
}
.landing-box-2 p{
	margin:0;
	line-height:1;
}
.landing-box-2 img{
    border: 5px solid #fff;
    border-radius: 75px;
    width: auto;
    height: 140px;
    margin-bottom: 30px;
	margin-top:60px;
}
.landing-box-2 .heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}
.landing-box-2 .text-1 {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0 5px;
    margin-bottom: 20px;
}
.landing-box-2 .text-2 {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    text-transform: capitalize;
}
.landing-box-3 {
    height: 400px;
	text-align:center;
	
}
.back-ground {
    background: url(../images/scholarship-landing-Bg2.jpg);
    height: 100%;
}
.back-ground .container{
	height: 100%;
	display: table;
}
.landing-box-3 .text{
	display:table-cell;
	vertical-align:middle;
}
.landing-box-3 .text>p:first-child{
	font-size:46px;
	font-weight:700;
	color:#fff;
	text-transform:capitalize;
}
.landing-box-3 .text>p+p{
	font-size:24px;
	font-weight:600;
	color:#fff;
}
.landing-box-3 button{
    background: #f90;
    color: #fff;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
}
.landing-box-3 .btn-1{
	padding:14px 45px;
	margin:40px 12px 0;
}
.landing-box-3 .btn-2{
	padding:14px 25px;
	margin:40px 12px 0;
}
.landing-box-4 {
    text-align: center;
    padding: 60px 0;
}
.landing-box-4>p:first-child{
	font-size:46px;
	font-weight:600;
	line-height:1;
}
.landing-box-4>p+p{
	font-size:24px;
	font-weight:600;
}
.landing-box-4 img {
    vertical-align: middle;
    width: auto;
    height: 99px;
}
.landing-box-4 .col-sm-3{
	margin-top:60px;
}
.landing-box-4 .content {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding-top: 40px;
}
.landing-box-4 .heading{
	color:#7a7a7a;
	margin:35px 0;
	line-height:0;
}
.landing-box-4 .text{
	color:#0db1f0;
	font-size:32px;
	font-weight:600;
}
.landing-box-4 button {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #f90;
    padding: 11px 0;
	width:100%;
    border-radius: 0 0 5px 5px;
    margin-top: 40px;
}
/******************************** notification ****************************/
.notification .profile-img {
    height: 146px;
}
.notification .profile-name p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.notification .tab_mrkt_details {
    text-align: center;
    margin: 30px 0 30px;
}
.notification .profile-info{
	border: 1px solid #cdcdcd !important;
	border-top: 5px solid #0db1f0 !important;
}
.notification .info {
    background: #fff;
    padding: 30px 0;
}
.notification{
	background:#f9f9f9;
}
.notification .tab_mrkt_details .nav-tabs {
    display: block;
	border: initial !important;
    overflow: hidden;
    background: #fff;
    border-radius: 0;
    text-align: left;
}
.notification  .nav-tabs>li{
	float:none;
}
.notification .nav-tabs li {
    border-right: initial;
}
.notification .nav-tabs li {
    border-top: 1px solid #cdcdcd;
}
.notification .nav-tabs a {
    padding: 15px 30px !important;
    display: block !important;
    background: #fff;
	color:#7a7a7a;
    font-size: 14px !important;
    margin-right: 0;
	text-transform:capitalize;
	font-weight: 400;
	line-height: 1.5 !important;
    min-height: auto;
    vertical-align: initial;
}
.notification  .nav>li>a:focus,.notification  .nav>li>a:hover {
    text-decoration: none;
    background-color: #f3f3f3 !important;
}
.notification .nav-tabs li.active a, .notification .nav-tabs li:hover a {
    color: #7a7a7a !important;
    background: #f3f3f3 !important;
    border: none !important;
}
.notification .tab-content {
    text-align: left;
    background: #f9f9f9;
    margin-top: 0;
    border-radius: 0;
    border: initial;
}
.notification  .tab-content .tab-pane>p {
    font-size: 20px;
    font-weight: 600;
	line-height: 1;
}
.notification  .tab-pane .col-xs-1 {
    padding: 0;
}