﻿<div id="signup__wrapper">
            <div class="container">
                <h3 class="text-center">Sign Up</h3>

                <form class="signup__form" name="form" ng-submit="vm.register()" role="form">
                    <div ng-show="step1">
                        <div class="form-group">
                           <div custom-select="g for g in primarySchool | filter: $searchTerm" custom-select-options="primarySchoolOptions" ng-model="primary_school"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control srch_icon" ng-model="vm.user.college" uib-typeahead="college as college.title for college in colleges | filter:{title:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" placeholder="Enter College Name" >
                            
                        </div>
                        <div class="form-group">
                            <div custom-select="g for g in stateList | filter: $searchTerm" custom-select-options="stateListOptions" ng-model="state"></div>
                        </div>
                        <div class="signup__buttons">
                            <button type="submit" class="btn btn-default" ng-click="goToStep2()">Add School</button> 
                            <div class="choice">OR</div>
                            <div class="form-group">
                                <!-- <select>
                                    <option>Choose Another</option>
                                    <option>Choose Another</option>
                                    <option>Choose Another</option>
                                </select> -->
                                <div class="arrow">
                                    <a href="javascript:void(0)" ng-click="goToStep2()"><img src="images/arrow.png"></a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- <div class="arrow">
                            <a href="javascript:void(0)" ng-click="goToStep2()"><img src="images/arrow.png"></a>
                        </div> -->
                    </div>

                    <div ng-show="step2">
                        <div class="form-group" ng-class="{ 'has-error': form.first_name.$dirty && form.first_name.$error.required }">
                            <label for="username">First name</label>
                            <input type="text" name="first_name" id="first_name" class="form-control" ng-model="vm.user.first_name" required />
                            <span ng-show="form.first_name.$dirty && form.first_name.$error.required" class="help-block">First name is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.last_name.$dirty && form.last_name.$error.required }">
                            <label for="lastname">Last name</label>
                            <input type="text" name="last_name" id="Text1" class="form-control" ng-model="vm.user.last_name" required />
                            <span ng-show="form.last_name.$dirty && form.last_name.$error.required" class="help-block">Last name is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                            <label for="name">Username</label>
                            <input type="name" name="name" id="name" class="form-control" ng-model="vm.user.name" required />
                            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Username is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" ng-model="vm.user.email" required />
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </div>
                    <div class="gender">
                    <p>Gender</p>
                    <div class="form-group floatL">
                        <select ng-model="vm.user.gender" required>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </select>
                    </div>
                    <div class="form-group floatR">
                        <div custom-select="g for g in stateList | filter: $searchTerm" custom-select-options="stateListOptions" ng-model="state"></div>
                    </div>
                    <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control srch_icon" ng-model="vm.user.college" uib-typeahead="college as college.title for college in colleges | filter:{title:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" placeholder="Enter College Name" >
                    </div>
                    <p>Education Level*</p>
                    <div class="form-group">
                        <div custom-select="g for g in primarySchool | filter: $searchTerm" custom-select-options="primarySchoolOptions" ng-model="primary_school"></div>
                    </div>
                    
                    <div class="form-group">
                        <div class="margin-bottom20">
                            <button type="submit" class="btn btn-primary signup-button-register">Register</button>
                            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>

                        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind-html="flash.message"></div>

                        <div ng-class="{ 'alert': validation, 'alert-success': validation.type === 'success', 'alert-danger': validation.type === 'error' }" ng-if="validation" ng-bind="withoutSanitize(validation.message)"></div>

                      </div>
                    </div>

                </form>
            </div>
                
            </div>
        </div>
<!-- <div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div> -->
