<div id="signup__wrapper">
			<div class="container">
				<h3 class="text-center">Sign Up</h3>
				<form class="signup__form">
					<div class="form-group">
						<input type="text" placeholder="First Name*" />
					</div>
					<div class="form-group">
						<input type="text" placeholder="Last Name*" />
					</div>
					<div class="form-group">
						<input type="text" placeholder="Email*" />
					</div>
					<div class="form-group">
						<input type="text" placeholder="Password*" />
					</div>
					<div class="gender">
					<p>Gender</p>
					<div class="form-group floatL">
						<select>
							<option>Male</option>
							<option>Female</option>
							<option>Others</option>
						</select>
					</div>
					<div class="form-group floatR">
						<select>
							<option>State</option>
							<option>State</option>
							<option>State</option>
						</select>
					</div>
					<div class="clearfix"></div>
					</div>
					<div class="form-group">
						<select>
							<option>School</option>
							<option>School</option>
							<option>School</option>
						</select>
					</div>
					<p>Education Level*</p>
					<div class="form-group">
						<select>
							<option>High School</option>
							<option>High School</option>
							<option>High School</option>
						</select>
					</div>
					
					<div class="signup__link">
						<a href="#">Sign Up</a> 
					</div>
				</form>
			</div>
		</div>