<!-- banner bar starts -->
<div id="banner_bar_wrapper">
    <div class="container">
        <div class="news-detail">
            <div class="news-button"><a href="#">Breaking News</a></div>
            <div class="news-text">
                <p>Used Cars Dealer Sales Tricks Exposed</p>
            </div>

        </div>
    </div>
</div>
<!-- <img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader"> -->
<!-- banner bar ends -->
<!-- banner starts -->
<!-- <div class="banner">
 <div class="col-sm-6" ng-repeat="bnews in breakingNews" ng-if="$index < 2">
  <div class="banner-img">
   <a href="#!/news/{{bnews.slug}}">
    <img ng-src="{{apiUrlWithoutIndex}}/images/category/thumbnail/800/{{bnews.news_image}}" alt="{{bnews.news_title}}" height="auto" width="100%"/>
   </a>
  </div>

  <div class="caption">
   <span class="caption-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{bnews.news_date}}</span>
   <a href="#!/news/{{bnews.slug}}">
    <p class="caption-heading">{{bnews.news_title}}</p>
   </a>
   <p class="caption-text">{{bnews.news_description}}</p>
  </div>
 </div>
 <div class="clearfix"></div>
</div>
<div class="lower-banner">
 <div class="col-sm-4" ng-repeat="bnews in featuredNews" ng-if="($index > 1) && ($index < 5)">
  <div class="banner-img"><img ng-src="{{moduleThumbnailUrl}}/images/category/thumbnail/300/{{bnews.image}}" alt="{{bnews.news_title}}" height="auto" width="100%"/></div>
  <div class="caption">
   <span class="caption-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{bnews.news_date}}</span>
   <p class="caption-heading">{{bnews.news_title}}</p>
   <p class="caption-text">{{bnews.news_description}}</p>
  </div>
 </div>
 <div class="clearfix"></div>
</div> -->
<!--blue bar starts -->

<div class="news-bar"> 
 <!-- <div class="container">
  <ul>
   <li ng-repeat="category in newsCategories">
    <a href="#" ng-click="getCategoryNews(category.slug,$event)">{{category.title}}</a>
   </li>
   
  </ul>
 </div> -->
    <div class="col-sm-6" ng-repeat="bnews in breakingNews" ng-if="$index < 2">
        <div class="banner-img">
            <a href="#!/news/{{bnews.slug}}">
                <img ng-src="{{apiUrlWithoutIndex}}/images/category/thumbnail/800/{{bnews.news_image}}" alt="{{bnews.news_title}}" height="auto" width="100%" />
            </a>
        </div>

        <div class="caption">
            <span class="caption-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{bnews.news_date}}</span>
            <p class="caption-heading"><a href="#!/news/{{bnews.news_slug}}">{{bnews.news_title}}</a></p>
            <p class="caption-text">{{bnews.news_description}}</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="lower-banner">
    <div class="col-sm-4" ng-repeat="bnews in featuredNews" ng-if="($index > 1) && ($index < 5)">
        <div class="banner-img"><img ng-src="{{apiUrlWithoutIndex}}/images/category/thumbnail/300/{{bnews.news_image}}" alt="{{bnews.news_title}}" height="auto" width="100%" /></div>
        <div class="caption">
            <span class="caption-date"><i class="fa fa-clock-o" aria-hidden="true"></i>{{bnews.news_date}}</span>
            <p class="caption-heading"><a href="#!/news/{{bnews.news_slug}}">{{bnews.news_title}}</a></p>
            <p class="caption-text">{{bnews.news_description}}</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--blue bar starts -->

<div class="news-bar">
    <div class="container">
        <ul>
            <li ng-repeat="category in newsCategories" style="cursor: pointer;">
                <a ng-click="getCategoryNews(category.slug)">{{category.title}}</a>
            </li>

        </ul>
    </div>
</div>
<img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader">
<!-- blue bar ends -->
<!-- main content starts -->
<div class="main-block">
 <div class="container">
  <h3 class="main-heading">{{ newsCategory ? newsCategory.title : 'Recent News' }}</h3>
  <div ng-if="!isDataFound">
    No News Found!.
  </div>
  <div class="row">
   <div class="col-sm-4" ng-repeat="recent in currentNews">
    <div class="main-img">
     <a href="#!/news/{{recent.slug}}">
      <img ng-src="{{apiUrlWithoutIndex}}/images/category/thumbnail/500/{{recent.image}}" alt="" height="auto" width="100%"/>
     </a>
    </div>
    <div class="main-caption">
     <a href="#!/news/{{recent.slug}}"><p class="main-text">{{recent.title.length > 60 ? recent.title.substr(0,60)+" more..." : recent.title}}</p></a>
     <!-- <a href="#!/news/{{recent.slug}}"><p class="main-text">{{recent.title}}</p></a> -->
    </div>
   </div>
  </div> 
  <div class="row">
   <div class="text-center">
    <button class="btn btn-success" ng-click="loadMoreNews(nextUrl)">Load More <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true" ng-disabled="is_disable" ng-show="loading"></i></button>
   </div>
  </div> 
 </div>
</div> 

</div>
<!-- main content ends