﻿
<div id="banner__wrapper">
	<div class="container">
		<div class="col-sm-9 row banner_content">
			<div class="banner_title">
				<h1>News</h1>
			</div>
			<!-- <div class="banner_form">
				<ul class="nav nav-tabs">
					<li><a data-toggle="tab" href="#buy">Buy</a></li>
					<li class="active"><a data-toggle="tab" href="#sell">Sell</a></li>
				</ul>
				<div class="tab-content">
					<div id="buy" class="tab-pane fade in active">
						<form>
							<input type="text" placeholder="Enter an ISBN, author, title, or keyword" />
							<button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
						</form>
					</div>
					<div id="sell" class="tab-pane fade">
						<h3>Menu 1</h3>
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
<!-- banner ends -->

<!-- merket section starts -->
<div id="market_section" class="bg_grey">
	<div class="container">
		<h2 class="text-center">News</h2>
		<div class="row">
			<div class="col-md-2">
				<div class="quick_links">
					<div class="featured_links">
						<h4 class="highlight">Featured Items</h4>
						<ul>
							<li><a href="javascript:void(0)">Magazines</a></li>
							<li><a href="javascript:void(0)">Online Tutoring</a></li>
							<li><a href="javascript:void(0)">New Releases</a></li>
							<li><a href="javascript:void(0)">School Supplies</a></li>
							<li><a href="javascript:void(0)">College Tips</a></li>
							<li><a href="javascript:void(0)">Books To Movies</a></li>
							<li><a href="javascript:void(0)">Career Guides</a></li>
							<li><a href="javascript:void(0)">Audio Books</a></li>
						</ul>
					</div>
					<div class="magazine_links">
						<h4 class="highlight">Magazines</h4>
						<ul>
							<li><a href="javascript:void(0)">Womens</a></li>
							<li><a href="javascript:void(0)">Mens</a></li>
							<li><a href="javascript:void(0)">Lifestyle</a></li>
							<li><a href="javascript:void(0)">Business / News</a></li>
						</ul>
					</div>
					<div class="magazine_links">
						<h4 class="highlight">Magazines</h4>
						<ul>
							<li><a href="javascript:void(0)">Womens</a></li>
							<li><a href="javascript:void(0)">Mens</a></li>
							<li><a href="javascript:void(0)">Lifestyle</a></li>
							<li><a href="javascript:void(0)">Business / News</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10">
				<div class="book_lists">
					<ul>
						<li ng-repeat="item in items">
							<div class="book_img">
								<a ng-href="#!/news/{{item.slug}}" ng-if="item.image"><img ng-src="{{moduleThumbnailUrl + item.image}}" / width="250px;" height="250px;" ></a>

								<a ng-href="#!/news/{{item.slug}}" ng-if="!item.image"><img ng-src="{{noImageUrl}}" / width="250px;" height="250px;"></a>
							</div>
							<div class="book_detail">
								<p><a ng-href="#!/news/{{item.slug}}" >{{ item.title | limitTo: 20 }}{{ item.title.length > 20 ? '...' : ''}}</a><br />
								</p>
								<!-- <p class="book_author">{{book.title}}</p> -->
							</div>
						</li>
					</ul>
					<div class="load-more-button">
						<button class="btn btn-success" ng-disabled="is_disable" ng-click="loadMore()">Load More</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- merket section ends -->