<!-- banner starts -->
			<div class="page-banner">
				<div class="col-sm-12">
					<div class="banner-img">
					<img ng-src="{{apiUrlWithoutIndex}}/images/category/thumbnail/800/{{item.image}}" alt="{{item.title}}" height="auto" width="100%"/>
					
					<div class="caption">
						<div class="container">
							<p class="caption-text">{{item.title}}</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				
				
			</div>
			
			
		<!-- banner ends -->
		<!--blue bar starts -->
		
		
		<!-- blue bar ends -->
		<!-- main content starts -->
		<div class="main-block">
			<div class="container">
				<div class="upper-content">
					<div class="col-sm-1 col-xs-2">
						<div class="subscribers">
							<span class="user-count">2.1K <img src="images/news-description-runner-icon.png" alt="#" /></span>
							<p>Subscribers</p>
						</div>
						<ul>
							<li><a href="#">
									<img src="images/news-description-fb-icon.png" alt="" />
								</a>
							</li>
							<li><a href="#">
									<img src="images/news-description-tumblr-icon.png" alt="" />
								</a>
							</li>
							<li><a href="#">
									<img src="images/news-description-gplus-icon.png" alt="" />
								</a>
							</li>
							<li><a href="#">
									<img src="images/news-description-linkedin-icon.png" alt="" />
								</a>
							</li>
							<li><a href="#">
									<img src="images/news-description-tumblr-icon.png" alt="" />
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-11 col-xs-10">
						<div class="text-section">
							<p>{{item.description}}</p>
						</div>
						<div class="reactions">
							<ul>
								<li>
									<a href="javascript:void(0)" ng-click="newsActivity(item.id,'like')">
										LIKE<br/>
										<img src="images/news-description-heart-icon.png" alt="" />
									</a>
								</li>
								<li>
									<p>What's your<br/>reaction?</p>
								</li>
								<li>
									<a href="javascript:void(0)" ng-click="newsActivity(item.id,'love')">
										<img src="images/news-description-smiley1.png" alt="" /><br/>
										Love it
									</a>
									<p class="percent">{{stats.love}}%</p>
								</li>
								<li>
									<a href="javascript:void(0)" ng-click="newsActivity(item.id,'interested')">
										<img src="images/news-description-smiley2.png" alt="" /><br/>
										interested
									</a>
									<p class="percent">{{stats.interested}}%</p>
								</li>
								<li>
									<a href="javascript:void(0)" ng-click="newsActivity(item.id,'meh')">
										<img src="images/news-description-smiley3.png" alt="" /><br/>
										meh
									</a>
									<p class="percent">{{stats.meh}}%</p>
								</li>
								<li>
									<a href="javascript:void(0)" ng-click="newsActivity(item.id,'what')">
										<img src="images/news-description-smiley4.png" alt="" /><br/>
										what
									</a>
									<p class="percent">{{stats.what}}%</p>
								</li>
								<li>
									<a href="javascript:void(0)" ng-click="newsActivity(item.id,'hate')">
										<img src="images/news-description-smiley5.png" alt="" /><br/>
										hate it
									</a>
									<p class="percent">{{stats.hate}}%</p>
								</li>
								<li>
									<a href="javascript:void(0)" ng-click="newsActivity(item.id,'sad')">
										<img src="images/news-description-smiley6.png" alt="" /><br/>
										sad
									</a>
									<p class="percent">{{stats.sad}}%</p>
								</li>
								<div class="clearfix"></div>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="lower-content">
					<h3 class="main-heading">More From News</h3>
					<div class="row">
						<div class="col-sm-4" ng-repeat="related in related_news">
							<div class="main-img">
								<a href="#!/news/{{related.news_slug}}">
									<img ng-src="{{apiUrlWithoutIndex}}/images/category/thumbnail/500/{{related.news_image}}" alt="" height="auto" width="100%"/>
								</a>
							</div>
							<div class="main-caption">
								<a href="#!/news/{{related.news_slug}}"><p class="main-text">{{related.news_title}}</p></a>
							</div>
						</div>
						
					</div>	
				</div>	
			</div>
		</div>	
		<!-- main content ends -->