<h1>Edit Profile</h1>
    <table class="table table-user-information">
    <tbody>
      <tr>
        <td>First Name:</td>
        <td width="50%"><p ng-if="disableForm">{{user.first_name}}</p><input type="text" ng-model="user.first_name" ng-if="!disableForm"></td>

      </tr>
      <tr>
        <td>Last Name:</td>
        <td width="50%"><p ng-if="disableForm">{{user.last_name}}</p><input type="text" ng-model="user.last_name" ng-if="!disableForm"></td>
      </tr>
      <tr>
        <td>BirthDay</td>
        <td width="50%"><p ng-if="disableForm">{{user.birthday}}</p><input type="text" ng-model="user.birthday" ng-if="!disableForm" id="date"></td>
      </tr>
    </tbody>
  </table>

  <button class="btn button" ng-click="editForm()" ng-if="disableForm"> Edit </button> 
  <button class="btn button" ng-click="saveForm()" ng-if="!disableForm"> Save </button>