<div class="header-inner" ng-include="'app/templates/includes/inner-header.html'">
	
</div>
<div class="page-heading" ng-init="getInboxPagination()">
	<div class="container" ng-init="loadMoreRecords()">
		<div class="row">
			<div class="col-md-9 col-sm-6">
				<div class="dis-table">
					<div class="dis-tablecell">
						<h1>My Inbox</h1>
						<p><span>You have</span> {{unread}} Unread Message</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="dis-table pull-right">
					<div class="dis-tablecell">
						<!-- <a class="btn-blue">NEW MESSAGE</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="my-jobs" id="tabs">
	<div class="container">
		<div class="tabs">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-5">
					<h1>&nbsp;<span>all Messsage</span></h1>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-7">
					<ul>
						<li class="liactive"><a href="" ng-click="showReceived()">RECEIVED ({{inboxList}})</a></li>
						<li class="liactive"><a href="" ng-click="showArchived()">ARCHIVED</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="recieved" ng-show="showInbox == 'received'">
		    <div class="filter">
		    	<div class="row">
		    	    <div class="col-md-6">
		    	    	<div class="row">
				    		<div class="col-md-3 col-sm-4">
				    			<p>Showing <span>{{inboxList}}</span> Messages</p>
				    		</div>
				    		<div class="col-md-3 col-sm-4">
				    			<!-- <select ng-model="sortMsg">
				    				<option value="updated_at">Newest first</option>
				    				<option value="">Name</option>
				    				<option value="">Newest first</option>
				    				<option value="">Newest first</option>
				    			</select> -->
				    		</div>
			    		</div>
		    		</div>
		    	</div>
		    </div>	
		    <div class="job-listing">
		    	<ul  id="wall">
		    		<li ng-repeat="inbox in inboxs | orderBy: sortMsg ? sortMsg : 'msg_last.created_at' | reverse: true" id="inbox{{inbox.id}}" ng-if="((inbox.sender.email == email) && (inbox.status_sender == 1))||((inbox.receiver.email == email) && (inbox.status_receiver == 1))">
		    			<!-- if I am a sender -->
		    			<div class="row" ng-if="(inbox.sender.email == email) && (inbox.status_sender == 1)">
		    				<div class="col-md-4">
		    					<div class="row">
		    						<div class="col-md-4 col-sm-2 col-xs-4">
		    							<div class="logo">
		    								<img src="frontend/images/logo1.png" ng-src="{{inbox.receiver.profile_picture}}">
		    							</div>
		    						</div>
		    						<div class="col-md-8 col-sm-10 col-xs-8">
		    							<div class="box">
		    								<div class="box-center">
				    							<a href="#/printer-portfolio/{{inbox.receiver.user_key}}/{{inbox.receiver.first_name | slugify}}" ng-if="inbox.receiver.user_type == 2">
				    								<h2>{{inbox.receiver.first_name}} {{inbox.receiver.last_name}}</h2>
				    							</a>
				    							<a href="#/buyer-portfolio/{{inbox.receiver.user_key}}/{{inbox.receiver.first_name | slugify}}" ng-if="inbox.receiver.user_type == 1">
				    								<h2>{{inbox.receiver.first_name}} {{inbox.receiver.last_name}}</h2>
				    							</a>
				    							<p>{{inbox.msg_last.created_at | amUtc | timeAgo:'MM/dd/yyyy'}}</p>
		    								</div>
		    							</div>
		    						</div>
		    					</div>
		    				</div>
		    				<div class="col-md-7">
		    					<div class="box">
    								<div class="box-center">
    									<div class="{{inbox.msg_last.seen == 1 ? 'unread' : ''}}">
    										<p ng-if="inbox.msg_last.message"><lm ng-bind-html="inbox.msg_last.message"></p>
    										<p ng-if="inbox.msg_last.file"><i class="fa fa-download"></i>Download File</p>
    									</div>
    								</div>
		    					</div>
		    				</div>
		    				<div class="col-md-1">
		    					<div class="box">
    								<div class="box-center">
    									<a href="#/inbox/{{inbox.id}}/message" class="message-btn">Reply</a>
    								</div>
    							</div>
		    				</div>
		    			</div>
		    			<!-- if I am a receiver -->
		    			<div class="row" ng-if="(inbox.receiver.email == email) && (inbox.status_receiver == 1)">
		    				<div class="col-md-4">
		    					<div class="row">
		    						<div class="col-md-4 col-sm-2 col-xs-4">
		    							<div class="logo">
		    								<img src="frontend/images/logo1.png" ng-src="{{inbox.sender.profile_picture}}">
		    							</div>
		    						</div>
		    						<div class="col-md-8 col-sm-10 col-xs-8">
		    							<div class="box">
		    								<div class="box-center">
				    							<a href="#/buyer-portfolio/{{inbox.sender.user_key}}/{{inbox.sender.first_name | slugify}}" ng-if="inbox.sender.user_type == 1">
				    								<h2>{{inbox.sender.first_name}} {{inbox.sender.last_name}}</h2>
				    							</a>
				    							<a href="#/printer-portfolio/{{inbox.sender.user_key}}/{{inbox.sender.first_name | slugify}}" ng-if="inbox.sender.user_type == 2">
				    								<h2>{{inbox.sender.first_name}} {{inbox.sender.last_name}}</h2>
				    							</a>
				    							<p>{{inbox.msg_last.created_at | amUtc | timeAgo:'MM/dd/yyyy'}}</p>
		    								</div>
		    							</div>
		    						</div>
		    					</div>
		    				</div>
		    				<div class="col-md-7">
		    					<div class="box">
    								<div class="box-center">
    									<div class="{{inbox.msg_last.seen == 1 ? 'unread' : ''}}">
    										<p ng-if="inbox.msg_last.message"><lm ng-bind-html="inbox.msg_last.message"></p>
    										<p ng-if="inbox.msg_last.file"><i class="fa fa-download"></i>Download File</p>
    									</div>
    								</div>
		    					</div>
		    				</div>
		    				<div class="col-md-1">
		    					<div class="box">
    								<div class="box-center">
    									<a href="#/inbox/{{inbox.id}}/message" class="message-btn">Reply</a>
    								</div>
    							</div>
		    				</div>
		    			</div>
		    			<div class="delet-archive">
		    				<ul>
		    					<li>
									<a href="" ng-click="makeArchive(inbox.id)">
										<object data="frontend/images/icons/archive.svg" type="image/svg+xml">
										</object>
									</a>
								</li>
								<li ng-controller="MessageController">
									<a href="" ng-click="deleteStream(inbox.id)">
										<object data="frontend/images/icons/close.svg" type="image/svg+xml">
										</object>
									</a>
								</li>
		    				</ul>
		    			</div>
		    		</li>
		    		<li ng-if="inboxList == 0">
		    			<h4 align="center">No Message Found</h4>
		    		</li>
		    	</ul>
		    </div>
		</div>
		<div id="achived" ng-show="showInbox == 'archived'">
			<div class="filter">
		    	<div class="row">
		    	    <div class="col-md-6">
		    	    	<div class="row">
				    		<div class="col-md-3">
				    			<p>Showing <span>{{archiveCount}}</span> Messages</p>
				    		</div>
				    		<div class="col-md-3">
				    			<!-- <select>
				    				<option>Newest first</option>
				    				<option>Newest first</option>
				    				<option>Newest first</option>
				    				<option>Newest first</option>
				    			</select> -->
				    		</div>
			    		</div>
		    		</div>
		    	</div>
		    </div>	
		    <div class="job-listing">
		    	<ul>
		    		<li ng-repeat="inbox in inboxs" id="inbox{{inbox.id}}" ng-if="((inbox.sender.email == email) && (inbox.status_sender == 2))||((inbox.receiver.email == email) && (inbox.status_receiver == 2))">
		    			<!-- if I am a sender -->
		    			<div class="row" ng-if="(inbox.sender.email == email) && (inbox.status_sender == 2)">
		    				<div class="col-md-4">
		    					<div class="row">
		    						<div class="col-md-4 col-sm-2 col-xs-4">
		    							<div class="logo">
		    								<img src="frontend/images/logo1.png" ng-src="{{inbox.receiver.profile_picture}}">
		    							</div>
		    						</div>
		    						<div class="col-md-8 col-sm-10 col-xs-8">
		    							<div class="box">
		    								<div class="box-center">
				    							<a href="#/buyer-portfolio/{{inbox.receiver.user_key}}/{{inbox.receiver.first_name | slugify}}" ng-if="inbox.receiver.user_type == 1">
				    								<h2>{{inbox.receiver.first_name}} {{inbox.receiver.last_name}}</h2>
				    							</a>
				    							<a href="#/printer-portfolio/{{inbox.receiver.user_key}}/{{inbox.receiver.first_name | slugify}}" ng-if="inbox.receiver.user_type == 2">
				    								<h2>{{inbox.receiver.first_name}} {{inbox.receiver.last_name}}</h2>
				    							</a>
				    							<p>{{inbox.created_at | timeAgo:'MM/dd/yyyy'}}</p>
		    								</div>
		    							</div>
		    						</div>
		    					</div>
		    				</div>
		    				<div class="col-md-7">
		    					<div class="box">
    								<div class="box-center">
    									<div class="{{inbox.msg_last.seen == 1 ? 'unread' : ''}}">
    										<p ng-if="inbox.msg_last.message"><lm ng-bind-html="inbox.msg_last.message"></p>
    										<p ng-if="inbox.msg_last.file"><i class="fa fa-download"></i>Download File</p>
    									</div>
    								</div>
		    					</div>
		    				</div>
		    				<div class="col-md-1">
		    					<div class="box">
    								<div class="box-center">
    									<a href="#/inbox/{{inbox.id}}/archive" class="message-btn">View</a>
    								</div>
    							</div>
		    				</div>
		    			</div>
		    			<!-- if I am a receiver -->
		    			<div class="row" ng-if="(inbox.receiver.email == email) && (inbox.status_receiver == 2)">
		    				<div class="col-md-4">
		    					<div class="row">
		    						<div class="col-md-4 col-sm-2 col-xs-4">
		    							<div class="logo">
		    								<img src="frontend/images/logo1.png" ng-src="{{inbox.sender.profile_picture}}">
		    							</div>
		    						</div>
		    						<div class="col-md-8 col-sm-10 col-xs-8">
		    							<div class="box">
		    								<div class="box-center">
				    							<a href="#/buyer-portfolio/{{inbox.sender.user_key}}/{{inbox.sender.first_name | slugify}}" ng-if="inbox.sender.user_type == 1">
				    								<h2>{{inbox.sender.first_name}} {{inbox.sender.last_name}}</h2>
				    							</a>
				    							<a href="#/printer-portfolio/{{inbox.sender.user_key}}/{{inbox.sender.first_name | slugify}}" ng-if="inbox.sender.user_type == 2">
				    								<h2>{{inbox.sender.first_name}} {{inbox.sender.last_name}}</h2>
				    							</a>
				    							<p>{{inbox.created_at | timeAgo:'MM/dd/yyyy'}}</p>
		    								</div>
		    							</div>
		    						</div>
		    					</div>
		    				</div>
		    				<div class="col-md-7">
		    					<div class="box">
    								<div class="box-center">
    									<div class="{{inbox.msg_last.seen == 1 ? 'unread' : ''}}">
    										<p ng-if="inbox.msg_last.message"><lm ng-bind-html="inbox.msg_last.message"></p>
    										<p ng-if="inbox.msg_last.file"><i class="fa fa-download"></i>Download File</p>
    									</div>
    								</div>
		    					</div>
		    				</div>
		    				<div class="col-md-1">
		    					<div class="box">
    								<div class="box-center">
    									<a href="#/inbox/{{inbox.id}}/archive" class="message-btn">View</a>
    								</div>
    							</div>
		    				</div>
		    			</div>
		    			<div class="delet-archive">
		    				<ul>
		    					<!-- <li>
									<a href="" ng-click="makeArchive(inbox.id)">
										<object data="frontend/images/icons/archive.svg" type="image/svg+xml">
										</object>
									</a>
								</li> -->
								<li ng-controller="MessageController">
									<a href="" ng-click="deleteStream(inbox.id)">
										<object data="frontend/images/icons/close.svg" type="image/svg+xml">
										</object>
									</a>
								</li>
		    				</ul>
		    			</div>
		    		</li>
		    		<li ng-if="archiveCount == 0">
		    			<h4 align="center">No Archived Message Found</h4>
		    		</li>
		    	</ul>
		    </div>
		</div>	
	</div>
</div>