<div class="header-inner" ng-include="'app/templates/includes/inner-header.html'">
	
</div>

<div class="page-heading">
	<div class="container">
		<div class="dis-table">
			<div class="dis-tablecell">
			</div>
		</div>
	</div>
</div>

<div class="message">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="row">
				<div class="col-md-6 col-sm-6"><h1>{{receiver.first_name | uppercase}} {{receiver.last_name | uppercase}}<span><!-- (online) --></span></h1></div>
				<div class="col-md-6 col-sm-6">
					<a href="" class="archive-btn" ng-click="moveArchive(group_id)">Archive</a>
					<a href="#/buyer/inbox" class="inbox-btn" ng-if="user_type == 1">Inbox</a>
					<a href="#/printer/inbox" class="inbox-btn" ng-if="user_type == 2">Inbox</a>
				</div>
			</div>
			<div class="message-box" ng-init="scrollDown()">
				<ul id="message" class="scrollable">
					<li ng-repeat="stream in chatStream" >
						<div class="{{sender.id == stream.user_id ? 'reciever' : 'sender'}}">
							<figure>
								<img src="frontend/images/demo.png" class="mCS_img_loaded" ng-if="sender.id == stream.user_id" ng-src="{{sender.profile_picture}}">
								<img src="frontend/images/demo.png" class="mCS_img_loaded" ng-if="receiver.id == stream.user_id" ng-src="{{receiver.profile_picture}}">
							</figure>
							<div class="content">
								<p ng-if="stream.message"><msg ng-bind-html="stream.message"></msg>
								<span>{{stream.created_at | amUtc | timeAgo:'MM/dd/yyyy'}}</span></p>
								<p ng-if="stream.file"><a ng-click="download(stream.id, 'msg')" target="_self"><i class="fa fa-download"></i>Download File</a><span>{{stream.created_at | amUtc | timeAgo:'MM/dd/yyyy'}}</span></p>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
				</ul>	
			</div>
			<div class="form-box">
				<form ng-submit="sendMsg()">
					<fieldset>
						<div emoji-form emoji-message="emojiMessage" class="pos-relative">
						    <textarea id="messageInput" ng-model="emojiMessage.messagetext"></textarea>

						   <div class="icons">
						   		 
						    <button type="submit"><i class="fa fa-paper-plane"></i></button>
							<div class="attachment"><a href=""><i class="fa fa-paperclip" aria-hidden="true"></i></a>
							<input type="file" class="file-inputs"  nv-file-select="" uploader="uploader" multiple>
							
							</div>
							<a id="emojibtn" >
						        <i class="icon icon-emoji"></i>
						    </a>
						   </div>
							<div class="thumbnail-images" ng-show="fileThumbnail">
								<div ng-repeat="item in uploader.queue" class="col-xs-12" ng-if="$index == 0">
									<b>{{ item.file.name }}</b> ({{ item.file.size/1024/1024|number:2 }} MB)
                                
	   								<a href="" ng-click="item.cancel()" ng-disabled="!item.isUploading">
	   									<i class="fa fa-times"></i>
	   								</a>
	                               	<div nowrap>
	                                    <div class="progress">
	                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
	                                    
	                                    </div>
	                                </div>
                            	</div>
							</div>
						</div>
						<!--  -->
						<!-- <input type="text" placeholder="Type your message ..." ng-model="msgContent.message" ng-change="messageUpdated()"> -->
						
						<!-- <div class="clearfix"></div> -->
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
<style type="text/css">

</style>