<div class="row">
<div style="padding-top:50px;"> </div>
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <h1>Hi, {{user.first_name}} {{user.last_name}}</h1>
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <p><strong>My Profile Page</strong></p>
                            <p><strong><a href="javascript:void(0)" ng-click="MyMessages()">My Messages</a></strong></p>
                            <p><strong><a href="javascript:void(0)" ng-click="MyContents()">My Contents</a></strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">

                <div class="panel-body" ng-if="editProfile">
                    <h1>Edit Profile</h1>
                    <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name:</td>
                        <td width="50%"><p ng-if="disableForm">{{user.first_name}}</p><input type="text" class="form-control" ng-model="user.first_name" ng-if="!disableForm"></td>

                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td width="50%"><p ng-if="disableForm">{{user.last_name}}</p><input type="text" class="form-control" ng-model="user.last_name" ng-if="!disableForm"></td>
                      </tr>
                      <tr>
                        <td>BirthDay</td>
                        <td width="50%"><p ng-if="disableForm">{{user.birthday}}</p><input type="text" class="form-control" ng-model="user.birthday" ng-if="!disableForm" id="date"></td>
                      </tr>
                      <tr>
                        <td>Gender</td>
                        <td width="50%"><p ng-if="disableForm">{{user.gender}}</p><input type="text" class="form-control" ng-model="user.gender" ng-if="!disableForm" id="date"></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td width="50%"><p ng-if="disableForm">{{user.email}}</p><input type="text" class="form-control" ng-model="user.email" ng-if="!disableForm" id="date"></td>
                      </tr>
                      <tr>
                        <td>Phone Number</td>
                        <td width="50%"><p ng-if="disableForm">{{user.phone}}</p><input type="text" class="form-control" ng-model="user.phone" ng-if="!disableForm" id="date"></td>
                      </tr>
                      <tr>
                        <td>Education</td>
                        <td width="50%"><p ng-if="disableForm">{{user.education}}</p><input type="text" class="form-control" ng-model="user.education" ng-if="!disableForm" id="date"></td>
                      </tr>
                    </tbody>
                  </table>

                  <button class="btn button" ng-click="editForm()" ng-if="disableForm"> Edit </button> 
                  <button class="btn button" ng-click="saveForm()" ng-if="!disableForm"> Save </button> 
                  <div style="float:  right; ">
                  <p>Applied Scholrship: {{user.scholarship_apply}}</p>
                  <p>Favourite Added: {{user.favourite}}</p>
                  <p>Applied jobs: {{user.applied}}</p>
              </div>
                </div>

                <div class="panel-body" ng-if="myContents">
                    <h1>My Contents</h1>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a href="javascript:void(0)" ng-click="getUserBooks()">
                                <div class="circle">
                                    <p>Textbooks</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a href="javascript:void(0)" ng-click="getUserClassified()">
                                <div class="circle">
                                    <p>Classified</p>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a href="javascript:void(0)" ng-click="getUserJobs()">    
                                <div class="circle">
                                    <p>Jobs</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <a href="javascript:void(0)" ng-click="getUserEvents()">    
                                <div class="circle">
                                    <p>Events</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div ng-include='module'> </div>
                    </div>
                    <!-- <div module-div name="book"></div> -->
                </div>

                <div class="" ng-if="myMessages">
                    <!-- message module -->
                    <div class="fill">
                        <div class="row chat-wrap">

                            <!-- Contacts & Conversations -->
                            <div class="col-sm-3 panel-wrap">

                                <!-- Overlay Menu / Contacts -->
                                <div class="col-sm-12 section-wrap" id="Contacts" ng-show="showingContact">

                                    <!--Header-->
                                    <div class="row header-wrap">
                                        <div class="chat-header col-sm-12">
                                            <h4>Select a Contact</h4>
                                            <div class="header-button">
                                                <a class="btn pull-right" href="" data-toggle="collapse" ng-click="showInbox()">
                                                    <i class="fa fa-close"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Contacts-->
                                    <div class="row content-wrap">
                                        <div class="contact btn" ng-repeat="user in userContacts" ng-click="getGroup(user.id)">
                                            <div class="media-body">
                                                <h5 class="media-heading">{{user.first_name}} {{user.last_name}}</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!--Left Menu / Conversation List-->
                                <div class="col-sm-12 section-wrap" ng-show="showingInbox">

                                    <!--Header-->
                                    <div class="row header-wrap">
                                        <div class="chat-header col-sm-12">
                                            <h4 id="username">Inbox</h4>
                                            <div class="header-button">
                                                <a class="btn pull-right" href="" data-toggle="collapse" ng-click="showContact()">
                                                    <i class="fa fa-pencil-square-o fa-lg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Conversations-->
                                    <div class="row content-wrap">
                                        <div class="conversation btn" ng-repeat="inbox in inboxList">
                                            <!-- user role as receiver -->
                                            <div class="media-body" ng-if="(inbox.sender.email == email) && (inbox.status_sender == 1)" ng-click="getGroup(inbox.receiver.id)">
                                                <h5 class="media-heading" id="contactName">{{inbox.receiver.first_name}} {{inbox.receiver.last_name}}</h5>
                                                <small class="pull-right time">Last seen 12:10am</small>
                                            </div>
                                            <!-- user role as sender -->
                                            <div class="media-body" ng-if="(inbox.receiver.email == email) && (inbox.status_receiver == 1)" ng-click="getGroup(inbox.sender.id)">
                                                <h5 class="media-heading" id="contactName">{{inbox.sender.first_name}} {{inbox.sender.last_name}}</h5>
                                                <small class="pull-right time">Last seen 12:10am</small>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <!-- Messages & Info -->
                            <div class="col-sm-9 panel-wrap">

                                <!--Main Content / Message List-->
                                <div class="col-sm-9 section-wrap" id="Messages">

                                    <!--Header-->
                                    <div class="row header-wrap">
                                        <div class="chat-header col-sm-12">
                                            <h4>Conversation Title</h4>
                                            <div class="header-button">
                                                <a class="btn pull-right info-btn">
                                                    <i class="fa fa-info-circle fa-lg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Messages-->
                                    <div class="row content-wrap messages">
                                        <div class="msg" ng-repeat="message in chatStream">
                                            <div class="media-body" ng-if="sender.id == message.user_id">
                                                <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

                                                <h5 class="media-heading">{{sender.first_name}} {{sender.last_name}}</h5>
                                                <small class="col-sm-11">{{message.message}}</small>
                                            </div>
                                            <div class="media-body" ng-if="receiver.id == message.user_id">
                                                <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>

                                                <h5 class="media-heading">{{receiver.first_name}} {{receiver.last_name}}</h5>
                                                <small class="col-sm-11">{{message.message}}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Message box & Send Button-->
                                    <form ng-submit="sendMsg(msg)"> 
                                        <input type="hidden" name="" ng-model="msg.groupid" ng-value="{{group_id}}">                                  
                                        <div class="row send-wrap">
                                            <div class="send-message">
                                                <div class="message-text">
                                                    <textarea class="no-resize-bar form-control" rows="2" placeholder="Write a message..." ng-model="msg.message" id="get-msg"></textarea>
                                                </div>
                                                <div class="send-button">
                                                    <button type="submit" class="btn">Send <i class="fa fa-send"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- message module -->
                </div>

            </div>
        </div>
</div>