<a href="javascript:void(0)" ng-click="doDisable()"> Close </a>
<form method="post" ng-submit="saveEvent()" ng-if="!updateForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" ng-model="data.title" required>
    </div>

    <div class="form-group">
        <label for="Start Date">Start Date</label>
        <input type="date" class="form-control" ng-model="data.start_date" id="datepicker" required>

    </div>

    <div class="form-group">
        <label for="End Date">End Date</label>
        <input type="date" class="form-control" ng-model="data.end_date" required>
    </div>

    <div class="form-group">
        <label for="Event Type">Event Type</label>
        <select class="form-control" ng-model="data.event_type" ng-options="key as value for (key , value) in event_types"></select>
    </div>

    <div class="form-group">
        <label for="Venue Title">Venue Title</label>
        <input type="text" class="form-control" ng-model="data.venue_title" required>
    </div>

    <div class="form-group">
        <label for="Address">Address</label>
        <input type="text" class="form-control" ng-model="data.address" required>
    </div>

    <div class="form-group">
        <label for="Website">Website</label>
        <input type="text" class="form-control" ng-model="data.website" required>
    </div>

    <div class="form-group">
        <label for="Public/Private">Public/Private</label>
        <select class="form-control" ng-model="data.public" ng-options="key as value for (key , value) in publicArr" required></select>
    </div>

    <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" ng-model="data.status" ng-options="key as value for (key , value) in statusArr" required></select>
    </div>


    <!-- <div class="form-group">
        <label for="Description">Image</label>
        <input type="file" ng-model="data.image" required>
    </div> -->

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" ng-model="data.description" required>
    </div>

    <div class="form-group">
        <button class="btn btn-outline btn-primary" type="submit">Create</button>
    </div>
</form>

<form method="post" ng-submit="UpdateEvent()" ng-if="updateForm" enctype="multipart/form-data">
    <input type="hidden" class="form-control" ng-model="data.id" required>
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" ng-model="data.title" required>
    </div>

    <div class="form-group">
        <label for="Start Date">Start Date</label>
        <input type="date" class="form-control" ng-model="data.start_date" required>
    </div>

    <div class="form-group">
        <label for="End Date">End Date</label>
        <input type="date" class="form-control" ng-model="data.end_date" required>
    </div>

    <div class="form-group">
        <label for="Event Type">Event Type</label>
        <select class="form-control" ng-model="data.event_type" ng-options="key as value for (key , value) in event_types"></select>
    </div>

    <div class="form-group">
        <label for="Venue Title">Venue Title</label>
        <input type="text" class="form-control" ng-model="data.venue_title" required>
    </div>

    <div class="form-group">
        <label for="Address">Address</label>
        <input type="text" class="form-control" ng-model="data.address" required>
    </div>

    <div class="form-group">
        <label for="Website">Website</label>
        <input type="text" class="form-control" ng-model="data.website" required>
    </div>

    <div class="form-group">
        <label for="Public/Private">Public/Private</label>
        <select class="form-control" ng-model="data.public" ng-options="key as value for (key , value) in publicArr" required></select>
    </div>

    <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" ng-model="data.status" ng-options="key as value for (key , value) in statusArr" required></select>
    </div>


    <!-- <div class="form-group">
        <label for="Description">Image</label>
        <input type="file" ng-model="data.image" required>
    </div> -->

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" ng-model="data.description" required>
    </div>

    <div class="form-group">
        <button class="btn btn-outline btn-primary" type="submit">Update</button>
    </div>
</form>
<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind-html="flash.message"></div>