<div id="banner__wrapper">
	<div class="container">
		<div class="col-sm-9 row banner_content">
			<div class="banner_title">
				<h1>BRING PEOPLE TOGETHER</h1>
				<h3>Create Events, Sell Tickets Online and Share Events</h3>
				<a  href="#!/search-events" class="btn btn-warning">Start Search</a>
			</div>
			
		</div>
	</div>
</div>
<div id="market_section" class="bg_grey">
	<div class="container">
		<h4>Popular Events</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4 job_detail_list" ng-repeat="item in items">
					<div class="main-img">
					    <a href="#!/event/{{item.slug}}">
					      <img ng-src="{{moduleThumbnailUrl + item.image}}" alt="" height="auto" width="100%">
					     </a>
					</div>

					<div class="main-caption">
				     <a href="#!/event/{{item.slug}}"><p class="main-text">{{item.title}}</p></a>
				     <div class="card-action">
	                    <p class="color_666 margin-top20">
	                    	<span><i class="material-icons">dvr</i></span>
	                    	<span>{{item.start_date}}</span>
	                   	</p>
	                    <p class="color_666">
	                    	<span><i class="material-icons">place</i></span>
	                    	<span>{{item.venue_title}}</span>
	                    </p>
	                    <p class="color_666">
	                    	<span><i class="fa fa-home fa fa-2x"></i></span>
	                    	<span>{{ item.address | limitTo: 25 }}{{ item.address.length > 20 ? '...' : ''}}</span>
	                   	</p>
	                </div>
				    </div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="load-more-button">
	<button class="btn btn-success" ng-disabled="is_disable" ng-click="loadMore()">Load More</button>
</div>