<!-- banner starts -->
<div id="banner__wrapper">
    <div class="container">
		<div class="col-sm-12 row banner_content">
            <div class="banner_title">
				<h1>BRING PEOPLE TOGETHER</h1>
            </div>
           <div class="banner_form school_banner_form">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form ng-submit="searchEvents(search)">
                            <input type="text" placeholder="Title" ng-model="search.title" />

                           	<input type="text" placeholder="Location" ng-model="search.location" />
							
							<input type="text" placeholder="Within Miles" ng-model="search.withinmiles" />
							<button type="submit" class="btn-primary btn"><span class="glyphicon glyphicon-search"></span>Search</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- banner ends -->
<div id="market_section" class="bg_grey">
	<div class="container">
		<h4>{{totalEvents}} Events Found</h4>
		<div class="row">
			<img ng-src="{{loadingImage}}" ng-if="isProccessing" class="global-loader">
			<div class="col-md-12">
				<div class="col-md-4 job_detail_list" ng-repeat="item in items">
					<div class="main-img">
					    <a href="#!/event/{{item.slug}}">
					      <img ng-src="{{moduleThumbnailUrl + item.image}}" alt="" height="auto" width="100%">
					     </a>
					</div>

					<div class="main-caption">
				     <a href="#!/event/{{item.slug}}"><p class="main-text">{{item.title}}</p></a>
				     <div class="card-action">
	                    <p class="color_666 margin-top20">
	                    	<span><i class="material-icons">dvr</i></span>
	                    	<span>{{item.start_date}}</span>
	                   	</p>
	                    <p class="color_666">
	                    	<span><i class="material-icons">place</i></span>
	                    	<span>{{item.venue_title}}</span>
	                    </p>
	                    <p class="color_666">
	                    	<span><i class="fa fa-home fa fa-2x"></i></span>
	                    	<span>{{ item.address | limitTo: 25 }}{{ item.address.length > 20 ? '...' : ''}}</span>
	                   	</p>
	                </div>
				    </div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="load-more-button">
	<button ng-if="loadMoreWithSearchingButton" class="btn btn-success" ng-disabled="is_disable" ng-click="loadMoreWithSearching()">Load More</button>

	<button ng-if="loadMoreButton" class="btn btn-success" ng-disabled="is_disable" ng-click="loadMore()">Load More</button>
</div>