<div class="container">
  <h2>Events</h2>
  <a href="javascript:void(0)" class="btn btn-success" ng-click="doEnable()">Create</a>
  
  <div ng-include="'module/templates/event/create.view.html'" ng-if="enableForm"></div>

  <table class="table" ng-if="!enableForm">
    <thead>
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td>{{ item.title | limitTo: 20 }}{{ item.title.length > 20 ? '...' : ''}}</td>
        <td><img ng-src="{{moduleThumbnailUrl + item.image}}" width="50px" ng-if="item.image"/>
        <img ng-src="{{noImageUrl}}" / width="150px;" height="50px;" ng-if="!item.image"></td>
        <td>{{ item.description | limitTo: 20 }}{{ item.description.length > 20 ? '...' : ''}}</td>
        <td><a href="javascript:void(0)" ng-click="EditEvent(item.slug)">Edit</a> | <a href="javascript:void(0)" ng-click="DeleteEvent(item.id)">Delete</a></td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-success" ng-if="!enableForm" ng-disabled="is_disable" ng-click="loadMoreBooks()">Load More</button>
</div>
<script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();  
            $( "#datepicker" ).datepicker();
        });
    </script>