<div id="banner__wrapper" class="university_image">
	<div class="container">
		<div class="col-sm-9 row banner_content">
			<div class="banner_title">
				<h2>{{item.title}}</h2>
				<h4>{{item.city}}<span ng-if="item.state">,{{item.state}}</span></h4>
				<p class="university_rating" ng-if="item.rating">
					<span class="{{item.className}} avg_count" data-toggle="tooltip" data-placement="bottom" title="Average">{{item.rating}}</span>
					<span ng-if="item.reviews">{{item.reviews}} reviews</span>
				</p>
			</div>
		</div>
	</div>
</div>

<button type="button" class="btn" style="float: right;margin-right: 20px;" ng-click="addToWishList(item.id)"><i class="fa fa-heart" aria-hidden="true"></i>Add To WishList</button>
<div class="container bs-docs-container">
	<div class="row">
		<div class="col-sm-12 container_block job_detail_list university_container">
			<div class="col-sm-4">
				<span ng-if="item.title" class="university_title">{{item.title}}</span><br>
				<span ng-if="item.title" class="color_666 university_under">Name</span>

				<span ng-if="item.phone" class="university_title">{{item.phone}}</span>
				<span ng-if="item.phone" class="color_666 university_under">Phone Number</span>
			</div>
			<div class="col-sm-4 profile_book_detail floatL">
				<span ng-if="item.address" class="university_title">{{item.address}}</span><br>
				<span class="university_title university_city" ng-if="item.city">{{item.city}}</span>
				<span class="university_title university_state" ng-if="item.state">{{item.state}}</span><br>
				<span ng-if="item.address" class="color_666 university_under job_detail_list">Address</span><br>

				<span ng-if="item.zipcode" class="university_title">{{item.zipcode}}</span><br>
				<span ng-if="item.zipcode" class="color_666 university_under">Zip Code</span>

			</div>
			<div class="col-sm-4 profile_book_detail floatL">
				<span ng-if="item.website" class="university_title">{{item.website}}</span><br>
				<span ng-if="item.website" class="color_666 university_under">Website</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="container bs-docs-container">
	<div class="row">
		<div class="col-sm-12 book_profile job_detail_list">
			<div class="col-sm-6">
				<h3>Students</h3>
				<p ng-if="item.no_of_students">
					<span class="number_of_student">{{item.no_of_students}}</span>
					<span class="undergrads">Undergrads</span>
				</p>
				<ul>
					<li><span class="float-left">Undergrads Over 25</span><span class="float-right">01%</span></li>
					<li><span class="float-left">Pell Grant</span><span class="float-right">12%</span></li>
					<li><span class="float-left">Varsity Athletes</span><span class="float-right">15%</span></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h3>Polls</h3>
				Comming Soon
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	</div>
</div>


